Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

Redesign landing page (#161)
  www/src/registry/blocks/showcase/cards/components/cards.tsx
  www/src/routes/_app/index.tsx
Due: prettier, eslint

fix: switch logo and favicon between light and dark themes (#160)
  www/public/favicon-dark.svg
  www/public/favicon.svg
  www/src/registry/__generated__/base-css.ts
  www/src/registry/base/base.css
  www/src/routes/__root.tsx
Due: prettier, eslint

chore(www): name the portless dev URL "dotui"
  www/package.json
Due: prettier

feat(www): full-width calendar + pricing card in showcase
  www/src/registry/__generated__/blocks.tsx
  www/src/registry/blocks/showcase/cards/components/backlog.tsx
  www/src/registry/blocks/showcase/cards/components/booking.tsx
  www/src/registry/blocks/showcase/cards/components/cards.tsx
  www/src/registry/blocks/showcase/cards/components/pricing.tsx
  www/src/registry/blocks/showcase/cards/meta.ts
Due: prettier, eslint

chore: format turbo.json globalPassThroughEnv
  turbo.json
Due: prettier

feat(www): full-width calendar + pricing card in landing showcase (#164)
  turbo.json
  www/package.json
  www/src/registry/__generated__/blocks.tsx
  www/src/registry/blocks/showcase/cards/components/backlog.tsx
  www/src/registry/blocks/showcase/cards/components/booking.tsx
  www/src/registry/blocks/showcase/cards/components/cards.tsx
  www/src/registry/blocks/showcase/cards/components/pricing.tsx
  www/src/registry/blocks/showcase/cards/meta.ts
Due: prettier, eslint

chore: pin portless app port in launch.json for preview
  .claude/launch.json
Due: prettier

feat(www): expand landing showcase cards + fixes
  www/src/registry/blocks/showcase/cards/components/booking.tsx
  www/src/registry/blocks/showcase/cards/components/cards.tsx
  www/src/registry/blocks/showcase/cards/components/cookie-preferences.tsx
  www/src/registry/blocks/showcase/cards/components/faq.tsx
  www/src/registry/blocks/showcase/cards/components/feedback.tsx
  www/src/registry/blocks/showcase/cards/components/filters.tsx
  www/src/registry/blocks/showcase/cards/components/invite-members.tsx
  www/src/registry/blocks/showcase/cards/components/notifications.tsx
  www/src/registry/blocks/showcase/cards/components/payment.tsx
  www/src/registry/blocks/showcase/cards/components/pricing.tsx
  www/src/registry/blocks/showcase/cards/components/shortcuts.tsx
  www/src/registry/blocks/showcase/cards/components/storage.tsx
  www/src/registry/blocks/showcase/cards/components/team-name.tsx
  www/src/registry/blocks/showcase/cards/components/transactions.tsx
  www/src/registry/blocks/showcase/cards/components/two-factor.tsx
  www/src/registry/blocks/showcase/cards/components/upload-avatar.tsx
  www/src/registry/blocks/showcase/cards/meta.ts
  www/src/registry/ui/color-editor/base.tsx
Due: prettier, eslint

feat(docs): SourceFirst playground engine + button pilot (behind engine flag)
  docs/playground-rewrite-proposal.md
  www/content/docs/components/button.mdx
  www/src/modules/docs/codegen/code-template.ts
  www/src/modules/docs/codegen/source-overlay.spec.ts
  www/src/modules/docs/codegen/source-overlay.ts
  www/src/modules/docs/interactive-demo/interactive-demo.tsx
  www/src/modules/docs/interactive-demo/process-controls.ts
  www/src/modules/docs/interactive-demo/types.ts
  www/src/modules/docs/mdx-plugins/rehype-transform.ts
  www/src/registry/publisher/build-time/transform-base.ts
  www/src/registry/ui/button/demos/playground.tsx
Due: prettier, eslint

feat(www): expand landing showcase cards + fixes (#168)
  .claude/launch.json
  www/src/registry/blocks/showcase/cards/components/booking.tsx
  www/src/registry/blocks/showcase/cards/components/cards.tsx
  www/src/registry/blocks/showcase/cards/components/cookie-preferences.tsx
  www/src/registry/blocks/showcase/cards/components/faq.tsx
  www/src/registry/blocks/showcase/cards/components/feedback.tsx
  www/src/registry/blocks/showcase/cards/components/filters.tsx
  www/src/registry/blocks/showcase/cards/components/invite-members.tsx
  www/src/registry/blocks/showcase/cards/components/notifications.tsx
  www/src/registry/blocks/showcase/cards/components/payment.tsx
  www/src/registry/blocks/showcase/cards/components/pricing.tsx
  www/src/registry/blocks/showcase/cards/components/shortcuts.tsx
  www/src/registry/blocks/showcase/cards/components/storage.tsx
  www/src/registry/blocks/showcase/cards/components/team-name.tsx
  www/src/registry/blocks/showcase/cards/components/transactions.tsx
  www/src/registry/blocks/showcase/cards/components/two-factor.tsx
  www/src/registry/blocks/showcase/cards/components/upload-avatar.tsx
  www/src/registry/blocks/showcase/cards/meta.ts
  www/src/registry/ui/color-editor/base.tsx
Due: prettier, eslint

feat(docs): migrate accordion playground to source engine
  www/content/docs/components/accordion.mdx
  www/src/registry/ui/accordion/demos/playground.tsx
Due: prettier, eslint

refactor(publisher): extract publish pipeline out of registry/ → www/src/publisher/
  www/scripts/registry-build.ts
  www/src/modules/create/components-config.tsx
  www/src/publisher/__fixtures__/alert-publishable.ts
  www/src/publisher/__fixtures__/button-publishable.ts
  www/src/publisher/build-time/build-publishables.ts
  www/src/publisher/build-time/build.spec.ts
  www/src/publisher/build-time/css-to-registry-fields.spec.ts
  www/src/publisher/build-time/css-to-registry-fields.ts
  www/src/publisher/build-time/extract-config.ts
  www/src/publisher/build-time/transform-base.ts
  www/src/publisher/emit-theme.spec.ts
  www/src/publisher/emit-theme.ts
  www/src/publisher/flatten.ts
  www/src/publisher/publish.spec.ts
  www/src/publisher/publish.ts
  www/src/publisher/resolve-classes.ts
  www/src/publisher/serialize.ts
  www/src/publisher/token-map.ts
  www/src/publisher/types.ts
  www/src/routes/r/$name.tsx
  www/src/routes/r/init.tsx
Due: prettier, eslint

refactor(registry): glob ui/lib items at build-time + redesign the guard
  www/scripts/registry-build.ts
  www/src/registry/__generated__/registry-items.ts
  www/src/registry/lib/registry.ts
  www/src/registry/ui/registry.ts
Due: prettier, eslint

feat(registry): assert registryDependencies against the base-file import graph
  www/scripts/registry-build.ts
  www/src/publisher/build-time/build-publishables.ts
  www/src/publisher/build-time/derive-registry-deps.ts
  www/src/registry/ui/checkbox/meta.ts
  www/src/registry/ui/color-editor/meta.ts
  www/src/registry/ui/command/meta.ts
  www/src/registry/ui/dialog/meta.ts
  www/src/registry/ui/field/meta.ts
  www/src/registry/ui/number-field/meta.ts
  www/src/registry/ui/overlay/meta.ts
  www/src/registry/ui/search-field/meta.ts
Due: prettier, eslint

chore: regenerate registry artifacts after merging main
  www/src/registry/__generated__/blocks.tsx
Due: prettier, eslint

fix(registry): oxfmt-canonical manifest imports + regen blocks for #168
  www/scripts/registry-build.ts
  www/src/registry/__generated__/blocks.tsx
  www/src/registry/__generated__/registry-items.ts
Due: prettier, eslint

refactor(registry): phase 0.5 — extract publisher, derive deps, glob the item list (#166)
  www/scripts/registry-build.ts
  www/src/modules/create/components-config.tsx
  www/src/publisher/__fixtures__/alert-publishable.ts
  www/src/publisher/__fixtures__/button-publishable.ts
  www/src/publisher/build-time/build-publishables.ts
  www/src/publisher/build-time/build.spec.ts
  www/src/publisher/build-time/css-to-registry-fields.spec.ts
  www/src/publisher/build-time/css-to-registry-fields.ts
  www/src/publisher/build-time/derive-registry-deps.ts
  www/src/publisher/build-time/extract-config.ts
  www/src/publisher/build-time/transform-base.ts
  www/src/publisher/emit-theme.spec.ts
  www/src/publisher/emit-theme.ts
  www/src/publisher/flatten.ts
  www/src/publisher/publish.spec.ts
  www/src/publisher/publish.ts
  www/src/publisher/resolve-classes.ts
  www/src/publisher/serialize.ts
  www/src/publisher/token-map.ts
  www/src/publisher/types.ts
  www/src/registry/__generated__/blocks.tsx
  www/src/registry/__generated__/registry-items.ts
  www/src/registry/lib/registry.ts
  www/src/registry/ui/checkbox/meta.ts
  www/src/registry/ui/color-editor/meta.ts
  www/src/registry/ui/command/meta.ts
  www/src/registry/ui/dialog/meta.ts
  www/src/registry/ui/field/meta.ts
  www/src/registry/ui/number-field/meta.ts
  www/src/registry/ui/overlay/meta.ts
  www/src/registry/ui/registry.ts
  www/src/registry/ui/search-field/meta.ts
  www/src/routes/r/$name.tsx
  www/src/routes/r/init.tsx
Due: prettier, eslint

chore(www): add check-playground build-time verification tool
  www/scripts/check-playground.mts
Due: none

feat(www): add hero variant lab for landing headline exploration
  www/src/components/marketing/hero-lab.tsx
  www/src/routes/_app/index.tsx
Due: prettier, eslint

refactor(www): remove blocks page, relocate landing showcase
  .github/workflows/ci.yml
  www/scripts/registry-build.ts
  www/src/components/marketing/showcase/account-menu.tsx
  www/src/components/marketing/showcase/booking.tsx
  www/src/components/marketing/showcase/cards.tsx
  www/src/components/marketing/showcase/color-editor.tsx
  www/src/components/marketing/showcase/cookie-preferences.tsx
  www/src/components/marketing/showcase/faq.tsx
  www/src/components/marketing/showcase/feedback.tsx
  www/src/components/marketing/showcase/filters.tsx
  www/src/components/marketing/showcase/invite-members.tsx
  www/src/components/marketing/showcase/login-form.tsx
  www/src/components/marketing/showcase/notifications.tsx
  www/src/components/marketing/showcase/payment.tsx
  www/src/components/marketing/showcase/shortcuts.tsx
  www/src/components/marketing/showcase/storage.tsx
  www/src/components/marketing/showcase/team-name.tsx
  www/src/components/marketing/showcase/transactions.tsx
  www/src/components/marketing/showcase/two-factor.tsx
  www/src/components/marketing/showcase/upload-avatar.tsx
  www/src/config/site.tsx
  www/src/modules/blocks/block-card.tsx
  www/src/modules/blocks/block-viewer.tsx
  www/src/registry/__generated__/blocks.tsx
  www/src/registry/blocks/auth/login/components/login-form.tsx
  www/src/registry/blocks/auth/login/meta.ts
  www/src/registry/blocks/auth/login/page.tsx
  www/src/registry/blocks/index.ts
  www/src/registry/blocks/registry.ts
  www/src/registry/blocks/showcase/cards/components/cards.tsx
  www/src/registry/blocks/showcase/cards/meta.ts
  www/src/routeTree.gen.ts
  www/src/routes/_app/blocks/route.tsx
  www/src/routes/_app/blocks/{-$category}.tsx
  www/src/routes/_app/index.tsx
  www/src/routes/view/$block.tsx
Due: prettier, eslint

refactor(www): remove blocks page, relocate landing showcase (#170)
  .github/workflows/ci.yml
  www/scripts/registry-build.ts
  www/src/components/marketing/showcase/account-menu.tsx
  www/src/components/marketing/showcase/booking.tsx
  www/src/components/marketing/showcase/cards.tsx
  www/src/components/marketing/showcase/color-editor.tsx
  www/src/components/marketing/showcase/cookie-preferences.tsx
  www/src/components/marketing/showcase/faq.tsx
  www/src/components/marketing/showcase/feedback.tsx
  www/src/components/marketing/showcase/filters.tsx
  www/src/components/marketing/showcase/invite-members.tsx
  www/src/components/marketing/showcase/login-form.tsx
  www/src/components/marketing/showcase/notifications.tsx
  www/src/components/marketing/showcase/payment.tsx
  www/src/components/marketing/showcase/shortcuts.tsx
  www/src/components/marketing/showcase/storage.tsx
  www/src/components/marketing/showcase/team-name.tsx
  www/src/components/marketing/showcase/transactions.tsx
  www/src/components/marketing/showcase/two-factor.tsx
  www/src/components/marketing/showcase/upload-avatar.tsx
  www/src/config/site.tsx
  www/src/modules/blocks/block-card.tsx
  www/src/modules/blocks/block-viewer.tsx
  www/src/registry/__generated__/blocks.tsx
  www/src/registry/blocks/auth/login/components/login-form.tsx
  www/src/registry/blocks/auth/login/meta.ts
  www/src/registry/blocks/auth/login/page.tsx
  www/src/registry/blocks/index.ts
  www/src/registry/blocks/registry.ts
  www/src/registry/blocks/showcase/cards/components/cards.tsx
  www/src/registry/blocks/showcase/cards/meta.ts
  www/src/routeTree.gen.ts
  www/src/routes/_app/blocks/route.tsx
  www/src/routes/_app/blocks/{-$category}.tsx
  www/src/routes/_app/index.tsx
  www/src/routes/view/$block.tsx
Due: prettier, eslint

fix(www): align docs app with TanStack best practices
  www/src/components/default-error.tsx
  www/src/router.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/route.tsx
  www/src/routes/r/$name.tsx
Due: prettier, eslint

chore(skills): vendor the TanStack agent skills the docs app uses
  .agents/skills/tanstack-devtools-app-setup/SKILL.md
  .agents/skills/tanstack-devtools-vite-plugin/SKILL.md
  .agents/skills/tanstack-react-start/SKILL.md
  .agents/skills/tanstack-router-core/SKILL.md
  .agents/skills/tanstack-router-data-loading/SKILL.md
  .agents/skills/tanstack-router-navigation/SKILL.md
  .agents/skills/tanstack-router-not-found-and-errors/SKILL.md
  .agents/skills/tanstack-router-path-params/SKILL.md
  .agents/skills/tanstack-router-plugin/SKILL.md
  .agents/skills/tanstack-router-search-params/SKILL.md
  .agents/skills/tanstack-router-ssr/SKILL.md
  .agents/skills/tanstack-router-type-safety/SKILL.md
  .agents/skills/tanstack-start-core/SKILL.md
  .agents/skills/tanstack-start-deployment/SKILL.md
  .agents/skills/tanstack-start-execution-model/SKILL.md
  .agents/skills/tanstack-start-middleware/SKILL.md
  .agents/skills/tanstack-start-server-functions/SKILL.md
  .agents/skills/tanstack-start-server-routes/SKILL.md
  .claude/skills/tanstack-devtools-app-setup
  .claude/skills/tanstack-devtools-vite-plugin
  .claude/skills/tanstack-react-start
  .claude/skills/tanstack-router-core
  .claude/skills/tanstack-router-data-loading
  .claude/skills/tanstack-router-navigation
  .claude/skills/tanstack-router-not-found-and-errors
  .claude/skills/tanstack-router-path-params
  .claude/skills/tanstack-router-plugin
  .claude/skills/tanstack-router-search-params
  .claude/skills/tanstack-router-ssr
  .claude/skills/tanstack-router-type-safety
  .claude/skills/tanstack-start-core
  .claude/skills/tanstack-start-deployment
  .claude/skills/tanstack-start-execution-model
  .claude/skills/tanstack-start-middleware
  .claude/skills/tanstack-start-server-functions
  .claude/skills/tanstack-start-server-routes
Due: prettier

fix: restore input focus ring by patching tailwindcss-react-aria-components
  package.json
  patches/tailwindcss-react-aria-components@2.1.1.patch
  pnpm-lock.yaml
Due: prettier

style(input): apply oxfmt class ordering to styles.ts
  www/src/registry/ui/input/styles.ts
Due: prettier, eslint

fix: restore input focus ring (patch tailwindcss-react-aria-components not-* variants) (#172)
  package.json
  patches/tailwindcss-react-aria-components@2.1.1.patch
  pnpm-lock.yaml
  www/src/registry/ui/input/styles.ts
Due: prettier, eslint

feat(registry): semantic color SSOT scaffold + emitCss parity (Phase 1a)
  www/src/registry/theme/emit-css.test.ts
  www/src/registry/theme/emit-css.ts
  www/src/registry/theme/index.ts
  www/src/registry/theme/semantics.ts
  www/src/registry/theme/types.ts
Due: prettier, eslint

docs: add TanStack docs-app best-practice audit
  docs/tanstack-docs-audit.md
Due: prettier

test(registry): rename to .spec.ts + cover resolveTarget/per-mode (review nits)
  www/src/registry/theme/emit-css.spec.ts
  www/src/registry/theme/emit-css.test.ts
Due: prettier, eslint

fix(www): order validateSearch before ssr in preview route
  www/src/routes/preview/$slug.tsx
Due: prettier, eslint

feat(registry): semantic color SSOT scaffold + emitCss parity (Phase 1a) (#173)
  www/src/registry/theme/emit-css.spec.ts
  www/src/registry/theme/emit-css.ts
  www/src/registry/theme/index.ts
  www/src/registry/theme/semantics.ts
  www/src/registry/theme/types.ts
Due: prettier, eslint

feat(www): show overlays open on the components page
  www/src/modules/docs/components-list/component-card.tsx
  www/src/modules/docs/components-list/components-data.ts
  www/src/modules/docs/components-list/components-list.tsx
  www/src/modules/docs/components-list/demos/drawer.tsx
  www/src/modules/docs/components-list/demos/index.ts
  www/src/modules/docs/components-list/demos/modal.tsx
  www/src/modules/docs/components-list/demos/popover.tsx
  www/src/modules/docs/components-list/demos/tooltip.tsx
  www/src/modules/docs/components-list/previews/drawer.tsx
  www/src/modules/docs/components-list/previews/index.ts
  www/src/modules/docs/components-list/previews/inert-preview.tsx
  www/src/modules/docs/components-list/previews/modal.tsx
  www/src/modules/docs/components-list/previews/popover.tsx
  www/src/modules/docs/components-list/previews/tooltip.tsx
Due: prettier, eslint

refactor(registry): retire base/tokens.ts; derive color picker from DEFAULT_SEMANTICS (Phase 1b)
  www/src/modules/create/components-config.tsx
  www/src/publisher/token-map.ts
  www/src/registry/base/tokens.ts
  www/src/registry/theme/emit-css.ts
  www/src/registry/theme/index.ts
  www/src/registry/theme/params.spec.ts
  www/src/registry/theme/params.ts
  www/src/registry/theme/semantics.ts
Due: prettier, eslint

refactor(registry): retire base/tokens.ts; derive color picker from DEFAULT_SEMANTICS (Phase 1b) (#175)
  www/src/modules/create/components-config.tsx
  www/src/publisher/token-map.ts
  www/src/registry/base/tokens.ts
  www/src/registry/theme/emit-css.ts
  www/src/registry/theme/index.ts
  www/src/registry/theme/params.spec.ts
  www/src/registry/theme/params.ts
  www/src/registry/theme/semantics.ts
Due: prettier, eslint

feat(registry): generate colors.css from the @dotui/colors engine (Phase 1c)
  pnpm-lock.yaml
  www/package.json
  www/scripts/registry-build.ts
  www/src/registry/__generated__/base-css.ts
  www/src/registry/base/colors.css
  www/src/registry/theme/color-config.ts
  www/src/registry/theme/index.ts
  www/src/registry/theme/primitives.spec.ts
  www/src/registry/theme/primitives.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
