Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

just for test
  .github/workflows/pr-labeler.yml
Due: prettier

update permissions
  .github/workflows/pr-labeler.yml
Due: prettier

fix: update labeler permissions (#78)
  .github/workflows/pr-labeler.yml
Due: prettier

update workflow
  .github/workflows/pr-labeler.yml
Due: prettier

fix: update labeler config (#79)
  .github/workflows/pr-labeler.yml
Due: prettier

fix imports
  packages/style-engine/src/constants.ts
  packages/style-engine/src/core/colors.ts
  packages/style-engine/src/core/css.ts
  packages/style-engine/src/schemas.ts
  packages/style-engine/src/shadcn-registry/generators/all.ts
  packages/style-engine/src/shadcn-registry/generators/base.ts
  packages/style-engine/src/shadcn-registry/generators/generic.ts
  packages/style-engine/src/shadcn-registry/transformers/transform-icons.ts
  packages/ui/src/helpers/create-icon.tsx
  packages/ui/src/helpers/theme-provider.tsx
  www/app/(app)/blocks/[category]/page.tsx
  www/app/(block-view)/block-view/[username]/[styleName]/[blockName]/page.tsx
  www/components/preview.tsx
  www/modules/blocks/block-view.tsx
  www/modules/blocks/blocks-nav.tsx
  www/modules/styles/components/fonts-selector.tsx
  www/modules/styles/components/style-color-tokens.tsx
  www/modules/styles/components/style-colors-editor.tsx
  www/modules/styles/components/style-components-editor.tsx
  www/modules/styles/components/style-effects-editor.tsx
  www/modules/styles/components/style-icons-editor.tsx
  www/modules/styles/providers/style-editor-provider.tsx
Due: prettier, eslint

format
  www/components/preview.tsx
  www/modules/blocks/blocks-nav.tsx
  www/modules/styles/components/fonts-selector.tsx
  www/modules/styles/components/style-color-tokens.tsx
  www/modules/styles/components/style-icons-editor.tsx
Due: prettier, eslint

Refactor create style modal to use database schema validation
  www/modules/styles/components/create-style-modal.tsx
Due: prettier, eslint

format
  www/modules/styles/components/create-style-modal.tsx
Due: prettier, eslint

Improve style name validation and normalization in create style modal
  www/modules/styles/components/create-style-modal.tsx
Due: prettier, eslint

update labeler
  .github/labeler.yml
Due: prettier

Add style name validation and auto-normalization
  www/modules/styles/components/create-style-modal.tsx
Due: prettier, eslint

fix typo
  packages/registry-definition/eslint.config.js
  packages/registry-definition/package.json
  packages/registry-definition/src/index.ts
  packages/registry-definition/src/registry-base.ts
  packages/registry-definition/src/registry-bg-patterns.ts
  packages/registry-definition/src/registry-blocks.ts
  packages/registry-definition/src/registry-fonts.ts
  packages/registry-definition/src/registry-hooks.ts
  packages/registry-definition/src/registry-icons.ts
  packages/registry-definition/src/registry-lib.ts
  packages/registry-definition/src/registry-shadows.ts
  packages/registry-definition/src/registry-textures.ts
  packages/registry-definition/src/registry-tokens.ts
  packages/registry-definition/src/registry-ui.ts
  packages/registry-definition/tsconfig.json
  packages/style-engine/src/constants.ts
  packages/style-engine/src/core/colors.ts
  packages/style-engine/src/core/css.ts
  packages/style-engine/src/schemas.ts
  packages/style-engine/src/shadcn-registry/generators/all.ts
  packages/style-engine/src/shadcn-registry/generators/base.ts
  packages/style-engine/src/shadcn-registry/generators/generic.ts
  packages/style-engine/src/shadcn-registry/transformers/transform-icons.ts
  packages/ui/src/helpers/create-icon.tsx
  packages/ui/src/helpers/theme-provider.tsx
  www/app/(app)/blocks/[category]/page.tsx
  www/app/(block-view)/block-view/[username]/[styleName]/[blockName]/page.tsx
  www/components/preview.tsx
  www/modules/blocks/block-view.tsx
  www/modules/blocks/blocks-nav.tsx
  www/modules/styles/components/fonts-selector.tsx
  www/modules/styles/components/style-color-tokens.tsx
  www/modules/styles/components/style-colors-editor.tsx
  www/modules/styles/components/style-components-editor.tsx
  www/modules/styles/components/style-effects-editor.tsx
  www/modules/styles/components/style-icons-editor.tsx
  www/modules/styles/providers/style-editor-provider.tsx
Due: prettier, eslint

update lock file
  pnpm-lock.yaml
Due: none

feat: normalize and validate style name input (#74)
  .github/labeler.yml
  packages/registry-definition/eslint.config.js
  packages/registry-definition/package.json
  packages/registry-definition/src/index.ts
  packages/registry-definition/src/registry-base.ts
  packages/registry-definition/src/registry-bg-patterns.ts
  packages/registry-definition/src/registry-blocks.ts
  packages/registry-definition/src/registry-fonts.ts
  packages/registry-definition/src/registry-hooks.ts
  packages/registry-definition/src/registry-icons.ts
  packages/registry-definition/src/registry-lib.ts
  packages/registry-definition/src/registry-shadows.ts
  packages/registry-definition/src/registry-textures.ts
  packages/registry-definition/src/registry-tokens.ts
  packages/registry-definition/src/registry-ui.ts
  packages/registry-definition/tsconfig.json
  pnpm-lock.yaml
  www/modules/styles/components/create-style-modal.tsx
Due: prettier, eslint

Add useActiveMode option to block view pages with theme support
  www/app/(block-view)/block-view/[username]/[styleName]/[blockName]/page.tsx
  www/app/(block-view)/block-view/[username]/[styleName]/[blockName]/providers.tsx
  www/components/preview.tsx
  www/modules/styles/components/style-card.tsx
  www/scripts/capture-showcase-blocks.ts
Due: prettier, eslint

format
  www/app/(block-view)/block-view/[username]/[styleName]/[blockName]/providers.tsx
Due: prettier, eslint

Add admin features for style moderation and featured styles
  packages/api/src/routers/style.ts
  www/app/(app)/admin/layout.tsx
  www/app/(app)/admin/middleware.ts
  www/app/(app)/admin/page.tsx
  www/app/(app)/admin/styles/page.tsx
  www/components/sidebar.tsx
  www/modules/styles/components/style-card.tsx
  www/modules/styles/components/styles-list.tsx
Due: prettier, eslint

format
  www/app/(app)/admin/layout.tsx
  www/app/(app)/admin/middleware.ts
  www/app/(app)/admin/page.tsx
  www/app/(app)/admin/styles/page.tsx
  www/modules/styles/components/style-card.tsx
Due: prettier, eslint

done
  www/app/(block-view)/block-view/[username]/[styleName]/[blockName]/providers.tsx
  www/components/preview.tsx
Due: prettier, eslint

fix: use resolved theme for style cards (#80)
  www/app/(block-view)/block-view/[username]/[styleName]/[blockName]/providers.tsx
  www/components/preview.tsx
Due: prettier, eslint

chore(www): revalidate pages
  www/app/(app)/styles/(styles)/page.tsx
  www/app/(home)/page.tsx
Due: prettier, eslint

wip
  packages/api/src/routers/style.ts
  www/app/(app)/style-editor/layout.tsx
  www/app/(block-view)/block-view/[username]/[styleName]/[blockName]/providers.tsx
  www/modules/styles/components/style-card.tsx
  www/modules/styles/components/style-editor-code-modal.tsx
  www/modules/styles/components/style-editor-delete-modal.tsx
  www/modules/styles/components/style-editor-header.tsx
  www/modules/styles/components/style-editor-nav.tsx
Due: prettier, eslint

feat: update home page layout
  packages/ui/src/docs.css
  packages/ui/src/registry/blocks/application/notifications/components/notifications.tsx
  packages/ui/src/registry/blocks/calendars/booking/components/booking.tsx
  packages/ui/src/registry/blocks/showcase/blocks-showcase/components/blocks-showcase.tsx
  www/app/(block-view)/block-view/[username]/[styleName]/[blockName]/providers.tsx
  www/components/styles-showcase.tsx
  www/public/images/showcase/minimalist-dark-mobile.png
  www/public/images/showcase/minimalist-dark.png
  www/public/images/showcase/minimalist-light-mobile.png
  www/public/images/showcase/minimalist-light.png
  www/scripts/capture-showcase-blocks.ts
Due: prettier, eslint

refactor: move /blocks/featured to /blocks
  www/app/(app)/blocks/[category]/page.tsx
  www/app/(app)/blocks/page.tsx
  www/components/header.tsx
  www/components/mobile-nav.tsx
  www/components/search-command.tsx
  www/components/sidebar.tsx
Due: prettier, eslint

fix: update styles showcase
  packages/ui/src/helpers/theme-provider.tsx
  www/app/(app)/blocks/[category]/page.tsx
  www/components/header.tsx
  www/components/mobile-nav.tsx
  www/components/search-command.tsx
  www/components/sidebar.tsx
  www/components/styles-showcase.tsx
Due: prettier, eslint

fix: update blocks layout
  www/app/(app)/blocks/layout.tsx
Due: prettier, eslint

fix: update app layout
  www/app/(app)/layout.tsx
Due: prettier, eslint

wip
  packages/tailwindcss-auto-contrast/src/index.js
Due: prettier, eslint

fix: close mobile menu on navigation
  www/components/mobile-nav.tsx
Due: prettier, eslint

Enhance tailwindcss-auto-contrast plugin with improved configuration and error handling
  packages/tailwindcss-auto-contrast/src/index.d.ts
  packages/tailwindcss-auto-contrast/src/index.js
Due: prettier, eslint

done
  packages/tailwindcss-auto-contrast/package.json
  packages/tailwindcss-auto-contrast/src/index.js
  packages/ui/package.json
  pnpm-lock.yaml
  www/app/layout.tsx
  www/package.json
  www/styles/docs.css
  www/styles/globals.css
Due: prettier, eslint

format
  www/components/mobile-nav.tsx
Due: prettier, eslint

update source path
  www/styles/globals.css
Due: none

update plugin
  packages/tailwindcss-auto-contrast/src/index.js
Due: prettier, eslint

refactor: rewrite tw autocontrast plugin (#83)
  packages/tailwindcss-auto-contrast/package.json
  packages/tailwindcss-auto-contrast/src/index.d.ts
  packages/tailwindcss-auto-contrast/src/index.js
  packages/ui/package.json
  pnpm-lock.yaml
  www/app/layout.tsx
  www/components/mobile-nav.tsx
  www/package.json
  www/styles/docs.css
  www/styles/globals.css
Due: prettier, eslint

chore: update default style
  packages/style-engine/src/constants.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
