Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,mdx,yml}"
      run: npx prettier --write {staged_files}
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}

fix(www): mobile builder + docs layouts, a11y, wire shuffle/undo
  www/src/components/layout/footer.tsx
  www/src/components/layout/header.tsx
  www/src/components/layout/mobile-nav.tsx
  www/src/modules/create/components-config.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/create/install-command.tsx
  www/src/modules/create/open-in-v0.tsx
  www/src/modules/create/typography-config.tsx
  www/src/modules/docs/code-block.tsx
  www/src/modules/docs/demo.tsx
  www/src/modules/docs/docs-copy-page.tsx
  www/src/modules/docs/docs-sidebar.tsx
  www/src/modules/docs/example.tsx
  www/src/modules/docs/mdx-components.tsx
  www/src/modules/docs/page-layout.tsx
  www/src/modules/docs/toc.tsx
  www/src/routes/__root.tsx
  www/src/routes/_app/create.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/styles.css
Due: prettier, eslint

refactor: standardize test files on .test.ts suffix
  docs/plans/2026-06-11-colors-audit/002-characterize-color-generation.md
  docs/plans/2026-06-11-colors-audit/005-kernel-owned-dark-mode.md
  docs/plans/2026-06-11-colors-audit/009-on-color-policy-option.md
  docs/plans/2026-06-11-repo-audit/001-publisher-evaluate-styles-fail-loud.md
  docs/plans/2026-06-11-repo-audit/002-ci-build-and-registry-sweep.md
  docs/plans/2026-06-11-repo-audit/003-builder-color-resolution-memoization.md
  docs/plans/2026-06-11-repo-audit/004-registry-edge-hardening.md
  docs/plans/2026-06-11-repo-audit/README.md
  docs/plans/2026-06-12-docs-module-audit/001-references-generator-typelinks.md
  docs/plans/2026-06-12-docs-module-audit/002-docs-build-fail-loud.md
  docs/plans/2026-06-12-docs-module-audit/005-retire-legacy-codegen-engine.md
  docs/plans/2026-06-12-docs-module-audit/007-docs-content-corrections.md
  docs/plans/2026-06-12-docs-module-audit/README.md
  docs/research/2026-06-11-autocontrast-assessment.md
  docs/research/open-in/figma.md
  docs/research/open-in/paper.md
  docs/research/open-in/v0.md
  docs/research/open-in/webflow.md
  www/src/modules/core/styles.wrong-types.test.ts
  www/src/modules/create/color-contrast.test.ts
  www/src/modules/create/preset/codec.test.ts
  www/src/modules/docs/codegen/code-template.ts
  www/src/modules/docs/codegen/playground-fidelity.test.ts
  www/src/modules/docs/codegen/source-overlay.test.ts
  www/src/modules/docs/interactive-demo/interactive-demo.tsx
  www/src/publisher/__fixtures__/button-publishable.ts
  www/src/publisher/build-time/build.test.ts
  www/src/publisher/build-time/css-to-registry-fields.test.ts
  www/src/publisher/emit-theme.test.ts
  www/src/publisher/publish.test.ts
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/theme/emit-css.test.ts
  www/src/registry/theme/emit-css.ts
  www/src/registry/theme/on-color-parity.test.ts
  www/src/registry/theme/palettes.test.ts
  www/src/registry/theme/params.test.ts
  www/src/registry/theme/primitives.test.ts
  www/src/registry/theme/semantics.ts
Due: prettier, eslint

refactor(www): give each create axis its own folder
  www/src/modules/create/code-options/index.ts
  www/src/modules/create/code-options/index.tsx
  www/src/modules/create/colors/contrast.spec.ts
  www/src/modules/create/colors/contrast.tsx
  www/src/modules/create/colors/index.tsx
  www/src/modules/create/colors/knobs.tsx
  www/src/modules/create/components/index.tsx
  www/src/modules/create/cursor/index.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/create/iconography/index.tsx
  www/src/modules/create/layout/index.tsx
  www/src/modules/create/typography/index.tsx
Due: prettier, eslint

fix(www): wire shuffle/undo, landmark a11y, mobile overflow (from #259)
  www/src/components/layout/footer.tsx
  www/src/components/layout/header.tsx
  www/src/components/layout/mobile-nav.tsx
  www/src/modules/create/components-config.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/create/install-command.tsx
  www/src/modules/create/typography-config.tsx
  www/src/modules/docs/code-block.tsx
  www/src/modules/docs/demo.tsx
  www/src/modules/docs/docs-sidebar.tsx
  www/src/modules/docs/example.tsx
  www/src/modules/docs/mdx-components.tsx
  www/src/modules/docs/page-layout.tsx
  www/src/modules/docs/toc.tsx
  www/src/routes/__root.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/styles.css
Due: prettier, eslint

fix(www): use ToggleButtonGroup for the /create mobile toggle
  www/src/modules/create/customizer-panel.tsx
  www/src/routes/_app/create.tsx
Due: prettier, eslint

feat(www): add codeOptions export code-style layer (#251)
  docs/research/2026-06-13-code-options.md
  www/src/hooks/use-copy-to-clipboard.ts
  www/src/lib/registry-preset.ts
  www/src/modules/create/code-options/controls.tsx
  www/src/modules/create/code-options/index.tsx
  www/src/modules/create/code-options/preview.tsx
  www/src/modules/create/colors/contrast.spec.ts
  www/src/modules/create/colors/contrast.tsx
  www/src/modules/create/colors/index.tsx
  www/src/modules/create/colors/knobs.tsx
  www/src/modules/create/components/index.tsx
  www/src/modules/create/cursor/index.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/create/iconography/index.tsx
  www/src/modules/create/layout/index.tsx
  www/src/modules/create/preset/code-options-e2e.spec.ts
  www/src/modules/create/preset/codec.ts
  www/src/modules/create/preset/index.ts
  www/src/modules/create/preset/types.ts
  www/src/modules/create/preset/use-design-system.ts
  www/src/modules/create/typography/index.tsx
  www/src/modules/docs/code-block.tsx
  www/src/modules/docs/docs-copy-page.tsx
  www/src/publisher/code-options.spec.ts
  www/src/publisher/code-options.ts
  www/src/publisher/publish.ts
  www/src/publisher/types.ts
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/routes/r/$name.tsx
Due: prettier, eslint

fix(www): UI/UX review fixes — a11y, mobile builder, docs, SEO (#253)
  docs/research/2026-06-13-builder-axes-proposal.md
  docs/research/2026-06-13-website-uiux-review.md
  www/src/components/default-error.tsx
  www/src/components/layout/footer.tsx
  www/src/components/layout/header.tsx
  www/src/components/layout/mobile-nav.tsx
  www/src/components/not-found.tsx
  www/src/modules/create/components/index.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/create/export/export-footer.tsx
  www/src/modules/create/export/renderers.tsx
  www/src/modules/create/export/targets.tsx
  www/src/modules/create/export/types.ts
  www/src/modules/create/export/use-export-url.ts
  www/src/modules/create/typography/index.tsx
  www/src/modules/docs/code-block.tsx
  www/src/modules/docs/components-list/component-card.tsx
  www/src/modules/docs/demo.tsx
  www/src/modules/docs/docs-copy-page.tsx
  www/src/modules/docs/docs-sidebar.tsx
  www/src/modules/docs/example.tsx
  www/src/modules/docs/mdx-components.tsx
  www/src/modules/docs/page-layout.tsx
  www/src/modules/docs/toc.tsx
  www/src/modules/marketing/cards.tsx
  www/src/modules/marketing/home-page.tsx
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/routes/__root.tsx
  www/src/routes/_app/create.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/route.tsx
  www/src/routes/sitemap[.]xml.tsx
  www/src/styles.css
Due: prettier, eslint

docs: add verified review of all 71 registry components (#255)
  docs/research/2026-06-14-component-review.md
Due: prettier

style(www): restyle Tree to match React Spectrum TreeView
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/ui/tree/meta.ts
  www/src/registry/ui/tree/styles.ts
Due: prettier, eslint

fix(www): ship progress-bar indeterminate animation
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/styles.css
  www/src/registry/ui/progress-bar/styles.css
  www/src/registry/ui/progress-bar/styles.ts
Due: prettier, eslint

feat(www): redesign /charts as tabbed showcase + chart doc page
  www/content/docs/components/chart.mdx
  www/src/modules/charts/chart-card.tsx
  www/src/modules/charts/chart-playground.tsx
  www/src/modules/charts/chart-preview.tsx
  www/src/modules/charts/chart-showcase.tsx
  www/src/modules/charts/charts-page.tsx
  www/src/modules/charts/data.ts
  www/src/modules/docs/components-list/components-data.ts
Due: prettier, eslint

docs: add render prop state tables research
  docs/research/2026-06-12-render-prop-state-tables.md
Due: prettier

feat(www): add state tables to component API references
  www/scripts/api-docs-builder/src/componentHandler.ts
  www/scripts/api-docs-builder/src/config.ts
  www/scripts/api-docs-builder/src/render-props.ts
  www/src/modules/docs/reference.tsx
  www/src/modules/docs/references/transform.ts
  www/src/modules/docs/references/types.ts
Due: prettier, eslint

fix(www): lazy-load chart preview demos to fix /charts prod crash
  www/src/modules/docs/components-list/demos/chart-area.tsx
  www/src/modules/docs/components-list/demos/chart-bar.tsx
  www/src/modules/docs/components-list/demos/chart-line.tsx
  www/src/modules/docs/components-list/demos/chart-pie.tsx
  www/src/modules/docs/components-list/demos/chart-radar.tsx
  www/src/modules/docs/components-list/demos/chart-radial.tsx
Due: prettier, eslint

chore(design-sync): Toaster single card mode + fold Phase 2 notes
  .design-sync/NOTES.md
  .design-sync/config.json
Due: prettier

chore(deps): upgrade react-aria, drop tailwind-rac patch
  CLAUDE.md
  patches/tailwindcss-react-aria-components@2.1.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
  www/scripts/build-showcase-bundle.ts
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

chore(www): regenerate API references for RAC 1.19
  www/src/modules/docs/references/generated/drop-zone.json
  www/src/modules/docs/references/generated/menu-content.json
  www/src/modules/docs/references/generated/overlay.json
  www/src/modules/docs/references/generated/popover.json
Due: prettier

chore: exclude .design-sync tooling from oxlint + oxfmt
  .oxfmtrc.jsonc
  .oxlintrc.json
Due: prettier

fix: install oxfmt musl binding for Vercel Nitro trace
  pnpm-workspace.yaml
Due: none

chore(deps): upgrade react-aria, drop tailwind-rac patch (#263)
  CLAUDE.md
  patches/tailwindcss-react-aria-components@2.1.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
  www/scripts/build-showcase-bundle.ts
  www/src/modules/docs/references/generated/drop-zone.json
  www/src/modules/docs/references/generated/menu-content.json
  www/src/modules/docs/references/generated/overlay.json
  www/src/modules/docs/references/generated/popover.json
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

feat: ship context-menu and fix multi-file publishing
  www/content/docs/components/context-menu.mdx
  www/scripts/registry-build.ts
  www/src/publisher/build-time/build-publishables.ts
  www/src/publisher/publish.test.ts
  www/src/publisher/publish.ts
  www/src/publisher/types.ts
  www/src/registry/__generated__/demos.tsx
  www/src/registry/__generated__/registry-items.ts
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/ui/context-menu/demos/basic.tsx
  www/src/registry/ui/context-menu/demos/controlled.tsx
  www/src/registry/ui/context-menu/demos/disabled.tsx
  www/src/registry/ui/context-menu/demos/nested.tsx
  www/src/registry/ui/context-menu/demos/with-icons.tsx
  www/src/registry/ui/context-menu/demos/with-submenu.tsx
  www/src/registry/ui/context-menu/examples.tsx
  www/src/registry/ui/context-menu/meta.ts
  www/src/routes/r/$name.tsx
Due: prettier, eslint

feat: ship context-menu and fix multi-file publishing (#247)
  www/content/docs/components/context-menu.mdx
  www/scripts/registry-build.ts
  www/src/publisher/build-time/build-publishables.ts
  www/src/publisher/publish.test.ts
  www/src/publisher/publish.ts
  www/src/publisher/types.ts
  www/src/registry/__generated__/demos.tsx
  www/src/registry/__generated__/registry-items.ts
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/ui/context-menu/demos/basic.tsx
  www/src/registry/ui/context-menu/demos/controlled.tsx
  www/src/registry/ui/context-menu/demos/disabled.tsx
  www/src/registry/ui/context-menu/demos/nested.tsx
  www/src/registry/ui/context-menu/demos/with-icons.tsx
  www/src/registry/ui/context-menu/demos/with-submenu.tsx
  www/src/registry/ui/context-menu/examples.tsx
  www/src/registry/ui/context-menu/meta.ts
  www/src/routes/r/$name.tsx
Due: prettier, eslint

refactor: migrate cn from clsx + tailwind-merge to cnfast
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
  www/scripts/build-showcase-bundle.ts
  www/src/publisher/emit-theme.ts
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/base/registry.ts
  www/src/registry/lib/utils/index.ts
Due: prettier, eslint

chore(deps): upgrade vite to 8.1.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Due: prettier

fix(home): restore hero "to" spacing, shrink Lovable wordmark
  www/src/modules/marketing/home-page.tsx
Due: prettier, eslint

feat(create): add preview toolbar with progressive blur
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/create/preview/preview-panel.tsx
  www/src/routes/_app/create.tsx
Due: prettier, eslint

fix(home): restore hero "to" spacing, shrink Lovable wordmark (#266)
  www/src/modules/marketing/home-page.tsx
Due: prettier, eslint

fix(create): full-height preview iframe and bg-fade toolbar
  www/src/modules/create/preview/preview-panel.tsx
Due: prettier, eslint

feat(create): offset embedded preview below the toolbar
  www/src/routes/preview/$slug.tsx
Due: prettier, eslint

fix: stop landing-page cards flickering on first load
  www/src/hooks/use-mounted.ts
  www/src/lib/styles.tsx
  www/src/modules/marketing/cards.tsx
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint
