Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,mdx,yml}"
      run: npx prettier --write {staged_files}
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}

chore: update source config
  www/source.config.ts
  www/src/lib/source.ts
Due: prettier, eslint

fix: add missing biome dep
  package.json
  pnpm-lock.yaml
Due: prettier

feat(starter-themes): add theme management package for tanstack start
  packages/starter-themes/package.json
  packages/starter-themes/src/index.tsx
  packages/starter-themes/tsconfig.json
  packages/starter-themes/tsup.config.ts
Due: prettier, eslint

chore(registry): format component class names
  packages/registry/src/base/theme.css
  packages/registry/src/ui/avatar/basic.tsx
  packages/registry/src/ui/button/basic.tsx
  packages/registry/src/ui/button/ripple.tsx
  packages/registry/src/ui/drawer/basic.tsx
  packages/registry/src/ui/input/basic.tsx
  packages/registry/src/ui/modal/basic.tsx
  packages/registry/src/ui/popover/basic.tsx
  packages/registry/src/ui/progress-bar/basic.css
  packages/registry/src/ui/table/basic.tsx
  packages/registry/src/ui/toggle-button-group/basic.tsx
  packages/registry/src/ui/tooltip/basic.tsx
Due: prettier, eslint

refactor(www): use starter-themes package
  www/package.json
  www/src/components/layout/app-sidebar.tsx
  www/src/components/layout/header.tsx
  www/src/components/layout/mobile-nav.tsx
  www/src/components/marketing/featured-styles-showcase.tsx
  www/src/components/theme-toggle.tsx
  www/src/modules/docs/docs-copy-page.tsx
  www/src/modules/theme/provider.tsx
  www/src/routes/__root.tsx
Due: prettier, eslint

chore: add claude.md and update gitignore
  .gitignore
  CLAUDE.md
  pnpm-lock.yaml
Due: prettier

fix(www): use variable Geist font and adjust heading typography
  pnpm-lock.yaml
  www/package.json
  www/src/modules/docs/mdx-components.tsx
  www/src/modules/docs/page-layout.tsx
  www/src/styles.css
Due: prettier, eslint

fix(www): add missing return in router navigate callback
  www/src/routes/__root.tsx
Due: prettier, eslint

fix(www): fix code highlighting indentation and view transition in demo
  www/src/modules/docs/demo.tsx
  www/src/modules/docs/mdx-plugins/transformer.ts
  www/src/styles.css
Due: prettier, eslint

chore: bump deps
  pnpm-lock.yaml
  www/package.json
Due: prettier

feat: enable prerendering on vercel
  www/vite.config.ts
Due: prettier, eslint

chore: bump deps
  packages/starter-themes/package.json
Due: prettier

chore: bump deps
  packages/auth/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier

add srvx
  pnpm-lock.yaml
  www/package.json
Due: prettier

fix: add dist to turbo build outputs for starter-themes resolution
  turbo.json
Due: prettier

chore: update gitignore
  .gitignore
Due: none

refactor: remove cache-control headers from routes
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/blocks/{-$category}.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/components.tsx
  www/src/routes/_app/styles/community.tsx
  www/src/routes/_app/styles/index.tsx
  www/src/routes/_app/styles/my-styles.tsx
  www/src/routes/index.tsx
Due: prettier, eslint

feat: add vercel preset to nitro config
  www/vite.config.ts
Due: prettier, eslint

fix: patch nitro to handle sigterm exit code gracefully
  package.json
  patches/nitro-nightly@3.0.1-20260109-100347-99691fcb.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix: use node preset for local dev, vercel for production
  www/vite.config.ts
Due: prettier, eslint

feat: add static server functions for vercel cdn caching
  www/package.json
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/route.tsx
Due: prettier, eslint

chore: update lockfile for static server functions
  pnpm-lock.yaml
Due: none

fix: correct path for static cache files copy on vercel
  www/package.json
Due: prettier

fix: patch tanstack to only write cache during prerender
  .gitignore
  package.json
  patches/@tanstack__start-static-server-functions.patch
Due: prettier

chore: update lock file
  pnpm-lock.yaml
Due: none

fix: apply staticFunctionMiddleware unconditionally
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/route.tsx
Due: prettier, eslint

chore: update tanstack packages to 1.150.0
  package.json
  patches/nitro-nightly@3.0.1-20260109-100347-99691fcb.patch
  pnpm-lock.yaml
  www/package.json
Due: prettier

refactor: move SerializedPageTree types to source.ts
  www/src/lib/source.ts
  www/src/routes/_app/route.tsx
Due: prettier, eslint

feat: add static server functions for homepage data
  packages/api/src/index.ts
  packages/api/src/trpc.ts
  packages/core/src/__registry__/ui.ts
  packages/registry/src/ui/react-hook-form/demos/register.tsx
  www/src/lib/github.ts
  www/src/modules/styles/server.ts
  www/src/routes/index.tsx
  www/vite.config.ts
Due: prettier, eslint

chore: sync tanstack packages to 1.150.0 in starter-themes
  packages/starter-themes/package.json
  pnpm-lock.yaml
Due: prettier

fix: use dynamic imports in server functions to prevent client bundling
  www/src/modules/styles/server.ts
  www/src/routes/_app/route.tsx
Due: prettier, eslint

feat: add immutable caching for static server function cache
  pnpm-lock.yaml
  www/package.json
  www/vercel.ts
Due: prettier, eslint

refactor: update alert component to use data attributes and add action slot
  packages/core/src/__registry__/ui.ts
  packages/registry/package.json
  packages/registry/src/ui/alert/basic.tsx
  packages/registry/src/ui/alert/demos/action.tsx
  packages/registry/src/ui/alert/demos/playground.tsx
  pnpm-lock.yaml
  www/package.json
  www/src/routes/index.tsx
Due: prettier, eslint

refactor: rewrite avatar component with hasImage tracking and fallback-only support
  packages/registry/src/blocks/showcase/cards/components/account-menu.tsx
  packages/registry/src/blocks/showcase/cards/components/invite-members.tsx
  packages/registry/src/blocks/showcase/cards/components/notifications.tsx
  packages/registry/src/ui/avatar/base.tsx
  packages/registry/src/ui/avatar/basic.tsx
  packages/registry/src/ui/avatar/demos/avatar-group-count.tsx
  packages/registry/src/ui/avatar/demos/badge-notification.tsx
  packages/registry/src/ui/avatar/demos/badge-top-right.tsx
  packages/registry/src/ui/avatar/demos/badge-with-icon.tsx
  packages/registry/src/ui/avatar/demos/badge.tsx
  packages/registry/src/ui/avatar/demos/basic.tsx
  packages/registry/src/ui/avatar/demos/composition.tsx
  packages/registry/src/ui/avatar/demos/fallback-only.tsx
  packages/registry/src/ui/avatar/demos/group.tsx
  packages/registry/src/ui/avatar/demos/icon-fallback.tsx
  packages/registry/src/ui/avatar/demos/playground.tsx
  packages/registry/src/ui/avatar/demos/radii.tsx
  packages/registry/src/ui/avatar/demos/shape.tsx
  packages/registry/src/ui/avatar/index.tsx
  packages/registry/src/ui/avatar/meta.ts
  packages/registry/src/ui/avatar/types.ts
  www/content/docs/components/avatar.mdx
  www/src/modules/auth/user-profile-menu.tsx
  www/src/modules/docs/components-list/demos/avatar.tsx
  www/src/modules/references/generated/avatar-badge.json
  www/src/modules/references/generated/avatar-fallback.json
  www/src/modules/references/generated/avatar-group-count.json
  www/src/modules/references/generated/avatar-group.json
  www/src/modules/references/generated/avatar-image.json
  www/src/modules/references/generated/avatar-placeholder.json
  www/src/modules/references/generated/avatar.json
  www/src/routes/index.tsx
Due: prettier, eslint

refactor: remove unused variant type param from createDynamicComponent
  packages/core/src/react/dynamic-component.tsx
  packages/registry/src/ui/accordion/index.tsx
  packages/registry/src/ui/alert/index.tsx
  packages/registry/src/ui/disclosure/index.tsx
Due: prettier, eslint

refactor: remove avatar placeholder component and show fallback during loading
  packages/core/src/__registry__/blocks.ts
  packages/core/src/__registry__/ui.ts
  packages/registry/package.json
  packages/registry/src/blocks/showcase/cards/components/account-menu.tsx
  packages/registry/src/blocks/showcase/cards/components/invite-members.tsx
  packages/registry/src/blocks/showcase/cards/components/notifications.tsx
  packages/registry/src/ui/avatar/base.tsx
  packages/registry/src/ui/avatar/demos/avatar-group-count.tsx
  packages/registry/src/ui/avatar/demos/badge-top-right.tsx
  packages/registry/src/ui/avatar/demos/basic.tsx
  packages/registry/src/ui/avatar/demos/default.tsx
  packages/registry/src/ui/avatar/demos/playground.tsx
  packages/registry/src/ui/avatar/index.tsx
  packages/registry/src/ui/avatar/types.ts
  pnpm-lock.yaml
  www/content/docs/components/avatar.mdx
  www/package.json
  www/src/modules/auth/user-profile-menu.tsx
  www/src/modules/docs/components-list/demos/avatar.tsx
  www/src/modules/references/generated/avatar-placeholder.json
  www/src/routes/index.tsx
Due: prettier, eslint

chore: apply linter fixes to avatar component files
  packages/registry/src/blocks/showcase/cards/components/invite-members.tsx
  packages/registry/src/blocks/showcase/cards/components/notifications.tsx
  packages/registry/src/ui/avatar/base.tsx
Due: prettier, eslint

fix: add build dependency to typecheck task in turbo config
  turbo.json
Due: prettier
