Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,mdx,yml}"
      run: npx prettier --write {staged_files}
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}

wip refactor styles module
  www/content/docs/components/menus-and-selection/select.mdx
  www/src/app/(app)/styles/[styleName]/theme-editor/index.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/mode-switch.tsx
  www/src/app/(home)/page.tsx
  www/src/components/header.tsx
  www/src/components/mobile-nav.tsx
  www/src/components/sidebar.tsx
  www/src/components/site-theme-selector.tsx
  www/src/components/theme-mode-switch.tsx
  www/src/modules/docs/components/component-preview-client.tsx
  www/src/modules/docs/components/component-preview.tsx
  www/src/modules/docs/components/style-selector.tsx
  www/src/modules/styles-2/atoms/styles-atom.ts
  www/src/modules/styles-2/components/components-provider.tsx
  www/src/modules/styles-2/components/font-loader.tsx
  www/src/modules/styles-2/components/font-selector.tsx
  www/src/modules/styles-2/components/fonts-provider.tsx
  www/src/modules/styles-2/components/style-provider.tsx
  www/src/modules/styles-2/components/theme-provider.tsx
  www/src/modules/styles-2/types.ts
Due: prettier, eslint

update build script
  www/package.json
Due: prettier

wip refactor themes to styles
  www/scripts/build-registry.ts
  www/src/app/(home)/page.tsx
  www/src/components/components-overview.tsx
  www/src/components/theme-mode-switch.tsx
  www/src/modules/docs/components/component-preview-client.tsx
  www/src/modules/styles-2/components/create-style-dialog.tsx
  www/src/modules/styles-2/components/style-card.tsx
  www/src/modules/styles-2/contexts/components-context.ts
  www/src/modules/styles-2/lib/create-dynamic-component.tsx
  www/src/modules/styles-2/lib/create-theme.ts
  www/src/modules/styles-2/lib/google-fonts.ts
  www/src/modules/styles/components/styles-overview.tsx
Due: prettier, eslint

format
  www/src/components/theme-mode-switch.tsx
  www/src/modules/docs/components/component-preview-client.tsx
  www/src/modules/styles/components/styles-overview.tsx
Due: prettier, eslint

fix lint errors
  www/src/app/(app)/providers.tsx
  www/src/modules/styles-2/components/components-provider.tsx
  www/src/modules/styles-2/components/fonts-provider.tsx
  www/src/modules/styles-2/components/theme-provider.tsx
  www/src/modules/styles/components/styles-overview.tsx
Due: prettier, eslint

update lint check script
  www/package.json
Due: prettier

update styles
  www/src/modules/docs/components/component-preview.tsx
  www/src/modules/registry/registry-styles-2.ts
  www/src/modules/styles-2/atoms/styles-atom.ts
  www/src/modules/styles-2/components/components-provider.tsx
  www/src/modules/styles-2/components/current-syle-provider.tsx
  www/src/modules/styles-2/components/style-provider.tsx
  www/src/modules/styles-2/components/theme-provider.tsx
  www/src/modules/styles-2/constants/defaults.ts
  www/src/modules/styles-2/contexts/components-context.ts
  www/src/modules/styles-2/contexts/style-context.ts
  www/src/modules/styles-2/lib/create-dynamic-component.tsx
  www/src/modules/styles-2/lib/create-style.ts
  www/src/modules/styles-2/types.ts
  www/src/modules/styles/components/styles-overview.tsx
Due: prettier, eslint

wip refactor style module
  pnpm-lock.yaml
  www/package.json
  www/src/app/internal/page.tsx
  www/src/modules/registry/registry-styles-2.ts
  www/src/modules/registry/styles-2/brutalist.ts
  www/src/modules/registry/styles-2/darky.ts
  www/src/modules/registry/styles-2/forest.ts
  www/src/modules/registry/styles-2/high-contrast.ts
  www/src/modules/registry/styles-2/material.ts
  www/src/modules/registry/styles-2/minimalist.ts
  www/src/modules/registry/styles-2/retro.ts
  www/src/modules/styles-2/atoms/styles-atom.ts
  www/src/modules/styles-2/components/current-syle-provider.tsx
  www/src/modules/styles-2/components/fonts-provider.tsx
  www/src/modules/styles-2/components/theme-provider.tsx
  www/src/modules/styles-2/constants/defaults.ts
  www/src/modules/styles-2/lib/create-style.ts
  www/src/modules/styles-2/lib/create-theme.ts
  www/src/modules/styles-2/types.ts
  www/src/styles/globals.css
Due: prettier, eslint

format
  www/src/modules/docs/components/component-preview.tsx
  www/src/modules/styles-2/components/theme-provider.tsx
  www/src/modules/styles-2/lib/create-theme.ts
Due: prettier, eslint

wip
  www/src/app/internal/page.tsx
  www/src/modules/docs/components/component-preview-client.tsx
  www/src/modules/registry/registry-styles-2.ts
  www/src/modules/styles-2/atoms/styles-atom.ts
  www/src/modules/styles-2/components/current-syle-provider.tsx
  www/src/modules/styles-2/lib/create-theme.ts
Due: prettier, eslint

wip refactor themes to styles
  www/src/components/components-overview.tsx
  www/src/modules/docs/components/component-preview.tsx
  www/src/modules/styles/atoms/styles-atom.ts
  www/src/modules/styles/components/components-provider.tsx
  www/src/modules/styles/components/style-provider.tsx
  www/src/modules/styles/contexts/components-context.ts
  www/src/modules/styles/contexts/components-context.tsx
  www/src/modules/styles/lib/create-dynamic-component.tsx
Due: prettier, eslint

update styles
  www/public/images/ghibli.png
  www/src/app/(home)/page.tsx
  www/src/app/layout.tsx
  www/src/components/icons.tsx
  www/src/modules/registry/colors/neutral/gray.ts
  www/src/modules/registry/colors/neutral/mauve.ts
  www/src/modules/registry/colors/neutral/neutral.ts
  www/src/modules/registry/colors/neutral/olive.ts
  www/src/modules/registry/colors/neutral/sage.ts
  www/src/modules/registry/colors/neutral/sand.ts
  www/src/modules/registry/colors/neutral/slate.ts
  www/src/modules/registry/colors/neutral/stone.ts
  www/src/modules/registry/colors/neutral/zinc.ts
  www/src/modules/registry/registry-styles.ts
  www/src/modules/registry/styles/brutalist.ts
  www/src/modules/registry/styles/darky.ts
  www/src/modules/registry/styles/forest.ts
  www/src/modules/registry/styles/geist.ts
  www/src/modules/registry/styles/ghibli.ts
  www/src/modules/registry/styles/high-contrast.ts
  www/src/modules/registry/styles/material.ts
  www/src/modules/registry/styles/minimalist.ts
  www/src/modules/registry/styles/polaris.ts
  www/src/modules/registry/styles/primer.ts
  www/src/modules/registry/styles/retro.ts
  www/src/modules/registry/styles/supabase.ts
  www/src/modules/styles/atoms/styles-atom.ts
  www/src/modules/styles/components/style-provider.tsx
  www/src/modules/styles/components/styles-overview.tsx
  www/src/modules/styles/lib/create-style.ts
  www/src/modules/styles/types.ts
Due: prettier, eslint

wip styles
  www/src/components/components-overview.tsx
  www/src/components/dynamic-ui/button.tsx
  www/src/components/ui/button.tsx
  www/src/modules/registry/styles/geist.ts
  www/src/modules/registry/styles/minimalist.ts
  www/src/modules/registry/styles/primer.ts
  www/src/modules/registry/styles/supabase.ts
  www/src/modules/registry/ui/button.basic-outline.tsx
  www/src/modules/styles/components/current-syle-provider.tsx
  www/src/modules/styles/components/style-provider.tsx
  www/src/modules/styles/components/styles-overview.tsx
  www/src/modules/styles/components/theme-provider.tsx
  www/src/modules/styles/contexts/preferences-context.tsx
Due: prettier, eslint

update registry
  www/src/__registry__/ui/button.basic-outline.tsx
Due: prettier, eslint

update registry
  www/src/__registry__/ui/button.outline.tsx
  www/src/__registry__/ui/tabs.basic.tsx
  www/src/app/internal/page.tsx
  www/src/components/components-overview.tsx
  www/src/components/dynamic-ui/button.tsx
  www/src/components/ui/button.tsx
  www/src/modules/registry/registry-styles.ts
  www/src/modules/registry/styles/brutalist.ts
  www/src/modules/registry/styles/ghibli.ts
  www/src/modules/registry/styles/material.ts
  www/src/modules/registry/styles/supabase.ts
  www/src/modules/registry/ui/button.outline.tsx
  www/src/modules/registry/ui/tabs.basic.tsx
  www/src/modules/styles/components/theme-provider.tsx
  www/src/modules/styles/constants/defaults.ts
  www/src/modules/styles/lib/create-style.ts
  www/src/modules/styles/lib/create-theme.ts
  www/src/modules/styles/types.ts
  www/src/styles/globals.css
Due: prettier, eslint

clean uo
  www/src/app/(app)/styles/[styleName]/page.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/index.tsx
  www/src/app/(app)/styles/preview.tsx
  www/src/app/preview/[styleName]/layout.tsx
  www/src/modules/styles/components/style-card.tsx
  www/src/modules/styles/components/styles-explorer.tsx
  www/src/modules/styles/components/theme-provider.tsx
Due: prettier, eslint

fix type errors
  www/src/app/(app)/providers.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/colors.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/components.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/iconography.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/index.tsx
  www/src/app/internal/page.tsx
  www/src/modules/docs/components/component-preview.tsx
  www/src/modules/styles/components/create-style-dialog.tsx
  www/src/modules/styles/components/current-style-provider.tsx
  www/src/modules/styles/components/style-card.tsx
  www/src/modules/styles/components/styles-explorer.tsx
  www/src/modules/styles/contexts/style-context.ts
Due: prettier, eslint

fix lint errors
  www/src/app/(app)/providers.tsx
  www/src/app/(app)/styles/[styleName]/page.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/colors.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/iconography.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/index.tsx
  www/src/app/internal/page.tsx
  www/src/app/preview/[styleName]/layout.tsx
  www/src/components/components-overview.tsx
  www/src/components/dynamic-ui/button.tsx
  www/src/components/icons.tsx
  www/src/modules/registry/styles/brutalist.ts
  www/src/modules/registry/styles/minimalist.ts
  www/src/modules/registry/styles/primer.ts
  www/src/modules/registry/ui/button.outline.tsx
  www/src/modules/styles/atoms/styles-atom.ts
  www/src/modules/styles/components/current-style-provider.tsx
  www/src/modules/styles/components/fonts-provider.tsx
  www/src/modules/styles/components/style-card.tsx
  www/src/modules/styles/components/styles-explorer.tsx
  www/src/modules/styles/contexts/style-context.ts
  www/src/modules/styles/types.ts
  www/src/styles/globals.css
Due: prettier, eslint

minor fixes
  www/src/app/internal/page.tsx
  www/src/modules/registry/styles/brutalist.ts
  www/src/modules/registry/styles/ghibli.ts
  www/src/modules/styles/components/current-style-provider.tsx
  www/src/modules/styles/components/fonts-provider.tsx
  www/src/modules/styles/lib/create-style.ts
Due: prettier, eslint

update registry api
  www/src/app/(app)/styles/[styleName]/page.tsx
  www/src/app/api/r/[username]/[styleName]/[registryItemName]/route.ts
  www/src/middleware.ts
  www/src/modules/registry/registry-styles.ts
  www/src/modules/styles/components/styles-overview.tsx
  www/src/modules/styles/lib/create-dynamic-component.tsx
Due: prettier, eslint

update deps
  pnpm-lock.yaml
  www/package.json
Due: prettier

format
  www/src/registry/registry-styles.ts
Due: prettier, eslint

fix type errors
  www/src/modules/docs/demos/dialog/drawer.tsx
  www/src/modules/docs/demos/dialog/popover.tsx
  www/src/modules/docs/demos/select/controlled.tsx
Due: prettier, eslint

update devindicators
  www/next.config.mjs
Due: none

update registry urls
  www/content/docs/components/buttons/button.mdx
  www/src/modules/styles/components/styles-overview.tsx
Due: prettier, eslint

clean up project
  packages/cli/.gitignore
  packages/cli/.prettierignore
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/eslint.config.mjs
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/constants.ts
  packages/cli/src/helpers/add-checks.ts
  packages/cli/src/helpers/add-primitives.ts
  packages/cli/src/helpers/get-config-paths.ts
  packages/cli/src/helpers/get-config.ts
  packages/cli/src/helpers/get-package-info.ts
  packages/cli/src/helpers/get-project-info.ts
  packages/cli/src/helpers/handle-error.ts
  packages/cli/src/helpers/init-checks.ts
  packages/cli/src/helpers/registry-api.ts
  packages/cli/src/helpers/transformers/index.ts
  packages/cli/src/helpers/transformers/transform-import.ts
  packages/cli/src/helpers/updaters/index.ts
  packages/cli/src/helpers/updaters/update-deps.ts
  packages/cli/src/helpers/updaters/update-files.ts
  packages/cli/src/index.ts
  packages/cli/src/registry/api.ts
  packages/cli/src/registry/helpers.ts
  packages/cli/src/utils/get-package-manager.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/is-url.ts
  packages/cli/src/utils/logger.ts
  packages/cli/src/utils/resolve-import.ts
  packages/cli/src/utils/spinner.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
  packages/schemas/index.ts
  packages/schemas/package.json
  packages/schemas/schema.ts
  packages/schemas/types.ts
Due: prettier, eslint

tooling clean up
  .gitignore
  .prettierrc.cjs
  commitlint.config.mjs
  config/eslint/README.md
  config/eslint/base.js
  config/eslint/next.js
  config/eslint/package.json
  config/eslint/react-internal.js
  config/prettier/index.js
  config/prettier/package.json
  config/prettier/tsconfig.json
  config/ts-config/README.md
  config/ts-config/base.json
  config/ts-config/nextjs.json
  config/ts-config/package.json
  config/ts-config/react-library.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  www/.prettierignore
  www/next.config.mjs
  www/package.json
Due: prettier, eslint

enable deps hoisting
  .npmrc
  pnpm-workspace.yaml
Due: none

update github workflows
  .github/workflows/ci.yml
Due: prettier

update turbo.json
  turbo.json
Due: prettier

ignore generated files in prettier
  .prettierignore
  config/prettier/index.js
Due: prettier, eslint

update gitignore
  .gitignore
  www/.gitignore
Due: none

update prettier config
  config/prettier/index.js
Due: prettier, eslint
