Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

wip: update www for new config schema structure
  packages/registry/src/constants.ts
  packages/registry/src/providers.tsx
  www/modules/style-editor/use-update-style-mutation.ts
  www/modules/styles/use-create-style.ts
Due: prettier, eslint

refactor(www): migrate to core StyleProvider and new config schema
  packages/core/src/schemas/style.ts
  packages/core/src/style/index.ts
  packages/core/src/style/provider.tsx
  packages/registry/package.json
  packages/registry/src/constants.ts
  packages/registry/src/icons/create-icon.tsx
  packages/registry/src/providers.tsx
  www/app/r/[...params]/route.ts
  www/app/view/[username]/[style]/[block]/_layout.tsx
  www/components/marketing/featured-styles-showcase.tsx
  www/modules/docs/demo/demo-frame.tsx
  www/modules/docs/demo/load-demo.tsx
  www/modules/docs/example.tsx
  www/modules/styles/active-style-provider.tsx
  www/modules/styles/create-style-modal.tsx
  www/tsconfig.json
Due: prettier, eslint

fix(www): prevent hydration mismatch in ActiveStyleProvider
  www/modules/styles/active-style-provider.tsx
Due: prettier, eslint

docs: add architecture cleanup plan
  PLAN.md
  refactor-plan.md
  www/app/r/[...params]/route.ts
Due: prettier, eslint

refactor(core): use StyleConfig directly, remove createStyle abstraction
  packages/core/package.json
  packages/core/src/shadcn/generators/all.ts
  packages/core/src/shadcn/generators/base.ts
  packages/core/src/shadcn/generators/item.ts
  packages/core/src/shadcn/generators/registry.ts
  packages/core/src/shadcn/generators/theme.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/transform.ts
  pnpm-lock.yaml
  www/app/r/[...params]/route.ts
Due: prettier, eslint

wip
  www/app/(app)/_style-editor/colors/page.tsx
  www/app/(app)/_style-editor/components/page.tsx
  www/app/(app)/_style-editor/effects/page.tsx
  www/app/(app)/_style-editor/icons/page.tsx
  www/app/(app)/_style-editor/layout.tsx
  www/app/(app)/_style-editor/layout/page.tsx
  www/app/(app)/_style-editor/typography/page.tsx
  www/app/(internal)/internal/page.tsx
  www/tsconfig.json
Due: prettier, eslint

refactor(www): finalize style-editor UI shell, fix HSL format
  www/app/(app)/style-editor/colors/page.tsx
  www/app/(app)/style-editor/components/page.tsx
  www/app/(app)/style-editor/effects/page.tsx
  www/app/(app)/style-editor/icons/page.tsx
  www/app/(app)/style-editor/layout.tsx
  www/app/(app)/style-editor/layout/page.tsx
  www/app/(app)/style-editor/typography/page.tsx
  www/modules/style-editor/colors-editor/color-scale.tsx
  www/modules/style-editor/colors-editor/tokens-table.tsx
  www/next.config.mjs
Due: prettier, eslint

clean up
  PLAN.md
  pnpm-workspace.yaml
  tw-plugins/tailwindcss-autocontrast/CHANGELOG.md
  tw-plugins/tailwindcss-autocontrast/README.md
  tw-plugins/tailwindcss-autocontrast/package.json
  tw-plugins/tailwindcss-autocontrast/src/index.d.ts
  tw-plugins/tailwindcss-autocontrast/src/index.js
  tw-plugins/tailwindcss-with/README.md
  tw-plugins/tailwindcss-with/package.json
  tw-plugins/tailwindcss-with/src/index.d.ts
  tw-plugins/tailwindcss-with/src/index.js
Due: prettier, eslint

format
  packages/colors/src/contrast/theme.ts
  packages/colors/src/shared/constants.ts
  www/modules/docs/demo/demo-frame.tsx
  www/modules/style-editor/icons-editor/icons-editor.tsx
  www/modules/style-editor/layout-editor/layout-editor.tsx
Due: prettier, eslint

fix lint errors
  packages/colors/src/contrast/theme.ts
  www/app/view/[username]/[style]/[block]/_layout.tsx
  www/components/marketing/featured-styles-showcase.tsx
  www/modules/style-editor/components-editor/component-config.tsx
  www/modules/style-editor/style-editor-header.tsx
  www/modules/style-editor/style-editor-provider.tsx
Due: prettier, eslint

update lock file
  pnpm-lock.yaml
Due: none

add missing export
  packages/core/package.json
Due: prettier

fix(core): use package import for __registry__/variants
  packages/core/src/schemas/variants.ts
Due: prettier, eslint

fix(core): add build script for proper turbo dependency chain
  packages/core/package.json
  packages/core/src/schemas/variants.ts
  packages/core/tsconfig.json
Due: prettier, eslint

refactor: update tsconfigs with @dotui/core/* path aliases
  packages/api/tsconfig.json
  packages/core/tsconfig.json
  packages/db/tsconfig.json
  packages/registry/tsconfig.json
  www/tsconfig.json
Due: prettier

refactor(core): convert relative imports to absolute @dotui/core/* imports
  packages/core/src/index.ts
  packages/core/src/react/context.ts
  packages/core/src/react/dynamic-component.tsx
  packages/core/src/react/style-provider.tsx
  packages/core/src/schemas/icons.ts
  packages/core/src/schemas/variants.ts
  packages/core/src/shadcn/generators/all.ts
  packages/core/src/shadcn/generators/base.ts
  packages/core/src/shadcn/generators/item.ts
  packages/core/src/shadcn/generators/registry.ts
  packages/core/src/shadcn/generators/theme.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/transform.ts
Due: prettier, eslint

refactor: remove tsc build scripts from internal packages
  packages/api/package.json
  packages/core/package.json
  packages/db/package.json
Due: prettier

refactor(registry): consolidate build scripts into single build.ts
  package.json
  packages/registry/package.json
  packages/registry/scripts/build-internal-registry.ts
  packages/registry/scripts/build-registry.ts
  packages/registry/scripts/build.ts
  scripts/build-registry.ts
Due: prettier, eslint

chore: regenerate registry files with consolidated build script
  packages/core/src/__registry__/base.ts
  packages/core/src/__registry__/blocks.ts
  packages/core/src/__registry__/hooks.ts
  packages/core/src/__registry__/icons.ts
  packages/core/src/__registry__/index.ts
  packages/core/src/__registry__/lib.ts
  packages/core/src/__registry__/ui.ts
  packages/core/src/__registry__/variants.ts
  packages/registry/src/__generated__/icons.tsx
Due: prettier, eslint

chore: update gitignore for reference repos
  .gitignore
Due: none

update gitignore
  .gitignore
Due: none

fix(auth): add @dotui/core/* path mapping to tsconfig
  packages/auth/tsconfig.json
Due: prettier

fix: update zod to 4.2.1 and react-hook-form to 7.69.0
  packages/api/package.json
  packages/auth/package.json
  packages/colors/package.json
  packages/core/package.json
  packages/db/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier

fix(registry): migrate from deprecated hugeicons-react to @hugeicons/react
  packages/core/src/__registry__/icons.ts
  packages/registry/package.json
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/icons/registry.ts
  pnpm-lock.yaml
  www/package.json
Due: prettier, eslint

chore: scaffold TanStack Start project
  start/.gitignore
  start/.vscode/settings.json
  start/biome.json
  start/package.json
  start/plan.md
  start/pnpm-lock.yaml
  start/public/favicon.ico
  start/public/logo192.png
  start/public/logo512.png
  start/public/manifest.json
  start/public/robots.txt
  start/public/tanstack-circle-logo.png
  start/public/tanstack-word-logo-white.svg
  start/src/logo.svg
  start/src/routeTree.gen.ts
  start/src/router.tsx
  start/src/routes/__root.tsx
  start/src/routes/index.tsx
  start/src/styles.css
  start/tsconfig.json
  start/vite.config.ts
Due: prettier, eslint

chore(start): integrate into monorepo with shared biome config
  config/biome-config/package.json
  config/biome-config/start.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  start/.vscode/settings.json
  start/biome.json
  start/package.json
  start/pnpm-lock.yaml
  start/public/manifest.json
  start/src/router.tsx
  start/tsconfig.json
  start/vite.config.ts
Due: prettier, eslint

chore(biome-config): add @tanstack imports to sort order
  config/biome-config/base.json
Due: prettier

chore(start): extend shared TypeScript config
  pnpm-lock.yaml
  start/package.json
  start/tsconfig.json
Due: prettier

chore(start): configure Tailwind, registry styles, and cleanup
  .vscode/settings.json
  config/biome-config/start.json
  packages/registry/package.json
  packages/registry/src/base/base.css
  packages/registry/src/base/base.ts
  packages/registry/src/base/colors.css
  packages/registry/src/styles.css
  pnpm-lock.yaml
  start/.vscode/settings.json
  start/biome.json
  start/package.json
  start/src/styles.css
Due: prettier, eslint

feat(start): add auth, tRPC, and TanStack Query integration
  package.json
  packages/auth/src/index.ts
  packages/registry/src/base/base.css
  pnpm-lock.yaml
  start/package.json
  start/src/env.ts
  start/src/lib/trpc.ts
  start/src/lib/url.ts
  start/src/logo.svg
  start/src/modules/auth/client.ts
  start/src/modules/auth/server.ts
  start/src/routeTree.gen.ts
  start/src/router.tsx
  start/src/routes/__root.tsx
  start/src/routes/api/auth.$.ts
  start/src/routes/api/trpc.$.ts
  start/src/routes/index.tsx
  start/tsconfig.json
Due: prettier, eslint

feat(start): add layout, marketing components, and theme module
  pnpm-lock.yaml
  start/package.json
  start/src/components/layout/footer.tsx
  start/src/components/layout/header.tsx
  start/src/components/layout/logo.tsx
  start/src/components/marketing/announcement.tsx
  start/src/components/marketing/featured-styles-showcase.tsx
  start/src/config/site.ts
  start/src/hooks/use-debounce.ts
  start/src/lib/github.ts
  start/src/modules/theme/provider.tsx
  start/src/modules/theme/toggle.tsx
  start/src/routes/__root.tsx
  start/src/routes/index.tsx
  start/src/styles.css
Due: prettier, eslint

feat(start): add fonts, prerendering, and update loader pattern
  pnpm-lock.yaml
  start/package.json
  start/src/modules/theme/provider.tsx
  start/src/routes/index.tsx
  start/src/styles.css
  start/vite.config.ts
Due: prettier, eslint

fix(registry): apply font-sans to html and body
  packages/registry/src/base/base.css
Due: none

feat(start): integrate fumadocs-mdx for documentation
  .gitignore
  package.json
  pnpm-lock.yaml
  start/content/docs/index.mdx
  start/package.json
  start/plan.md
  start/source.config.ts
  start/src/lib/source.ts
  start/src/routeTree.gen.ts
  start/src/routes/docs/$.tsx
  start/tsconfig.json
  start/vite.config.ts
Due: prettier, eslint

feat(start): add toc and hooks for docs module
  pnpm-lock.yaml
  start/package.json
  start/plan.md
  start/src/hooks/use-copy-to-clipboard.ts
  start/src/hooks/use-mounted.ts
  start/src/modules/docs/toc.tsx
Due: prettier, eslint

feat(start): add mdx-components and stubs for docs module
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/stubs.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
