Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

fix(www): align separators with content, shrink card padding
  www/src/components/showcase/payment.tsx
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

docs(research): add ds roster selection report and roster.json
  docs/plans/2026-07-03-ds-research-site/README.md
  docs/research/2026-07-03-ds-roster-selection/README.md
  docs/research/2026-07-03-ds-roster-selection/roster.json
Due: prettier

fix(www): full-width separators with uniform gap around rows
  www/src/components/showcase/payment.tsx
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

fix(www): match payment card vertical padding to horizontal
  www/src/components/showcase/payment.tsx
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

fix(www): finalize search dialog surface and filled input
  www/src/components/search-command.tsx
Due: prettier, eslint

fix(www): flow long checkbox label as text, align to first line
  www/src/components/showcase/payment.tsx
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

feat(www): rework payment showcase into method selector (#356)
  www/src/components/showcase/payment.tsx
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

fix(www): match mobile drawer surface to search modal bg
  www/src/components/search-command.tsx
Due: prettier, eslint

feat(www): full-text docs search in the command palette (#357)
  www/src/components/search-command.tsx
  www/src/routeTree.gen.ts
  www/src/routes/api/search.ts
Due: prettier, eslint

fix(www): fix published registry deps and style var collisions
  www/src/publisher/emit-theme.ts
  www/src/publisher/publish.ts
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/ui/accordion/base.tsx
  www/src/registry/ui/badge/base.tsx
  www/src/registry/ui/command/base.tsx
  www/src/registry/ui/link/base.tsx
  www/src/registry/ui/separator/base.tsx
  www/src/registry/ui/tabs/meta.ts
Due: prettier, eslint

feat(ds): add light/dark mode toggle
  .claude/launch.json
  ds/package.json
  ds/src/components/theme-toggle.tsx
  ds/src/routes/__root.tsx
  pnpm-lock.yaml
Due: prettier, eslint

docs(plans): add ds.dotui.org research-site design plan (#364)
  docs/plans/2026-07-03-ds-research-site/001-roster-selection.md
  docs/plans/2026-07-03-ds-research-site/002-schema-and-question-bank.md
  docs/plans/2026-07-03-ds-research-site/003-app-scaffold.md
  docs/plans/2026-07-03-ds-research-site/004-research-execution.md
  docs/plans/2026-07-03-ds-research-site/005-topic-showpieces.md
  docs/plans/2026-07-03-ds-research-site/006-profiles-matrices-launch.md
  docs/plans/2026-07-03-ds-research-site/README.md
  docs/plans/README.md
  docs/research/2026-07-03-ds-roster-selection/README.md
  docs/research/2026-07-03-ds-roster-selection/roster.json
Due: prettier

feat(www): connect landing preset switcher to cards as browser tabs
  www/src/modules/marketing/cards.tsx
  www/src/modules/marketing/preset-switcher.tsx
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

data(ds): add spectrum-2 research
  docs/plans/2026-07-03-ds-research-site/004-research-execution.md
  ds/data/systems/spectrum-2/analysis.mdx
  ds/data/systems/spectrum-2/facts.json
  ds/data/systems/spectrum-2/system.json
  ds/src/data/question-bank.ts
Due: prettier, eslint

feat(ds): rework system profiles into color-system exploration pages
  docs/plans/2026-07-03-ds-research-site/004-research-execution.md
  docs/plans/2026-07-03-ds-research-site/README.md
  ds/data/RETRO.md
  ds/data/systems/linear/analysis.mdx
  ds/data/systems/linear/colors.json
  ds/data/systems/linear/facts.json
  ds/data/systems/linear/system.json
  ds/data/systems/radix/analysis.mdx
  ds/data/systems/radix/colors.json
  ds/data/systems/radix/facts.json
  ds/data/systems/radix/system.json
  ds/data/systems/spectrum-2/analysis.mdx
  ds/data/systems/spectrum-2/colors.json
  ds/data/systems/spectrum-2/facts.json
  ds/data/systems/spectrum-2/system.json
  ds/scripts/build-data-index.ts
  ds/src/components/explorer/contrast-table.tsx
  ds/src/components/explorer/layer-diagram.tsx
  ds/src/components/explorer/mode-switcher.tsx
  ds/src/components/explorer/ramp-grid.tsx
  ds/src/components/explorer/source-links.tsx
  ds/src/components/explorer/spec-table.tsx
  ds/src/components/explorer/swatch.tsx
  ds/src/components/explorer/token-table.tsx
  ds/src/data/question-bank.ts
  ds/src/data/schema.ts
  ds/src/routeTree.gen.ts
  ds/src/routes/index.tsx
  ds/src/routes/methodology.tsx
  ds/src/routes/systems.$slug.tsx
  ds/src/routes/topics.$slug.tsx
Due: prettier, eslint

feat(ds): side-nav sections, overview cards, sourced notes
  ds/data/systems/spectrum-2/colors.json
  ds/src/components/explorer/overview-cards.tsx
  ds/src/components/explorer/section-notes.tsx
  ds/src/data/schema.ts
  ds/src/routes/systems.$slug.tsx
Due: prettier, eslint

fix(www): route internal string hrefs through RouterLink
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/ui/breadcrumbs/index.tsx
  www/src/registry/ui/button/index.tsx
  www/src/registry/ui/link/index.tsx
  www/src/registry/ui/list-box/index.tsx
  www/src/registry/ui/menu/index.tsx
  www/src/registry/ui/sidebar/index.tsx
  www/src/registry/ui/tabs/index.tsx
Due: prettier, eslint

fix(deps): link zod into @hookform/resolvers via packageExtensions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(www): route internal string hrefs through RouterLink (#368)
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/ui/breadcrumbs/index.tsx
  www/src/registry/ui/button/index.tsx
  www/src/registry/ui/link/index.tsx
  www/src/registry/ui/list-box/index.tsx
  www/src/registry/ui/menu/index.tsx
  www/src/registry/ui/sidebar/index.tsx
  www/src/registry/ui/tabs/index.tsx
Due: prettier, eslint

docs(ds): add project README, reorder plan to pages-first
  docs/plans/2026-07-03-ds-research-site/README.md
  ds/README.md
Due: prettier

docs(ds): record Radix-first V1 scope
  docs/plans/2026-07-03-ds-research-site/README.md
  ds/README.md
Due: prettier

docs(research): add scored catalog of 77 design systems
  docs/research/2026-07-03-ds-catalog/README.md
  docs/research/2026-07-03-ds-catalog/catalog.json
Due: prettier

feat(www): change default density from compact to default
  www/src/lib/registry-preset.ts
  www/src/modules/create/preset/defaults.ts
  www/src/modules/create/preset/types.ts
  www/src/modules/presets/presets-data.ts
  www/src/publisher/emit-theme.test.ts
  www/src/publisher/emit-theme.ts
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/routes/r/showcase-bundle.tsx
Due: prettier, eslint

feat(ds): replace site roster with scored 77-system catalog
  ds/README.md
  ds/data/roster.json
  ds/src/data/schema.ts
  ds/src/routes/index.tsx
  ds/src/routes/methodology.tsx
  ds/src/routes/systems.$slug.tsx
Due: prettier, eslint

feat(ds): archive redesign + Radix exploration pages
  ds/data/systems/radix/colors.json
  ds/package.json
  ds/src/components/explorer/contrast-lab.tsx
  ds/src/components/explorer/focus-anatomy.tsx
  ds/src/components/explorer/ramp-grid.tsx
  ds/src/components/explorer/step-role-explorer.tsx
  ds/src/components/explorer/swatch-popover.tsx
  ds/src/components/explorer/swatch.tsx
  ds/src/components/explorer/token-table.tsx
  ds/src/components/plate.tsx
  ds/src/data/index.ts
  ds/src/data/schema.ts
  ds/src/lib/color-math.ts
  ds/src/routeTree.gen.ts
  ds/src/routes/__root.tsx
  ds/src/routes/index.tsx
  ds/src/routes/systems.$slug.architecture.tsx
  ds/src/routes/systems.$slug.contrast.tsx
  ds/src/routes/systems.$slug.focus.tsx
  ds/src/routes/systems.$slug.index.tsx
  ds/src/routes/systems.$slug.palette.tsx
  ds/src/routes/systems.$slug.scale.tsx
  ds/src/routes/systems.$slug.tokens.tsx
  ds/src/routes/systems.$slug.tsx
  ds/src/styles.css
  pnpm-lock.yaml
Due: prettier, eslint

docs: perfect-dotUI end-state architecture study
  docs/research/2026-07-04-perfect-dotui/00-decision-log.md
  docs/research/2026-07-04-perfect-dotui/01-system-overview.md
  docs/research/2026-07-04-perfect-dotui/02-monorepo.md
  docs/research/2026-07-04-perfect-dotui/03-registry.md
  docs/research/2026-07-04-perfect-dotui/04-styles.md
  docs/research/2026-07-04-perfect-dotui/05-tokens.md
  docs/research/2026-07-04-perfect-dotui/06-axes.md
  docs/research/2026-07-04-perfect-dotui/07-reconstructions.md
  docs/research/2026-07-04-perfect-dotui/08-density-sizing.md
  docs/research/2026-07-04-perfect-dotui/09-dsdoc.md
  docs/research/2026-07-04-perfect-dotui/10-builder.md
  docs/research/2026-07-04-perfect-dotui/11-compiler.md
  docs/research/2026-07-04-perfect-dotui/12-distribution.md
  docs/research/2026-07-04-perfect-dotui/13-testing.md
  docs/research/2026-07-04-perfect-dotui/14-contributing.md
  docs/research/2026-07-04-perfect-dotui/README.md
  docs/research/2026-07-04-perfect-dotui/report.html
Due: prettier

docs: add complete monorepo file tree (report + chapter 02)
  docs/research/2026-07-04-perfect-dotui/02-monorepo.md
  docs/research/2026-07-04-perfect-dotui/report.html
Due: prettier

feat(ds): rework directory landing and system page navigation
  ds/src/components/icons/github.tsx
  ds/src/routeTree.gen.ts
  ds/src/routes/__root.tsx
  ds/src/routes/index.tsx
  ds/src/routes/methodology.tsx
  ds/src/routes/systems.$slug.architecture.tsx
  ds/src/routes/systems.$slug.contrast.tsx
  ds/src/routes/systems.$slug.focus.tsx
  ds/src/routes/systems.$slug.index.tsx
  ds/src/routes/systems.$slug.palette.tsx
  ds/src/routes/systems.$slug.scale.tsx
  ds/src/routes/systems.$slug.tokens.tsx
  ds/src/routes/systems.$slug.tsx
Due: prettier, eslint

fix(ds): satisfy CI formatting and typecheck on system page
  ds/src/routes/index.tsx
  ds/src/routes/systems.$slug.tsx
Due: prettier, eslint

feat(ds): directory landing + single-page system explorer (#370)
  ds/data/systems/radix/colors.json
  ds/package.json
  ds/src/components/explorer/contrast-lab.tsx
  ds/src/components/explorer/focus-anatomy.tsx
  ds/src/components/explorer/ramp-grid.tsx
  ds/src/components/explorer/step-role-explorer.tsx
  ds/src/components/explorer/swatch-popover.tsx
  ds/src/components/explorer/swatch.tsx
  ds/src/components/explorer/token-table.tsx
  ds/src/components/icons/github.tsx
  ds/src/components/plate.tsx
  ds/src/data/index.ts
  ds/src/data/schema.ts
  ds/src/lib/color-math.ts
  ds/src/routeTree.gen.ts
  ds/src/routes/__root.tsx
  ds/src/routes/index.tsx
  ds/src/routes/methodology.tsx
  ds/src/routes/systems.$slug.tsx
  ds/src/styles.css
  pnpm-lock.yaml
Due: prettier, eslint

fix(docs): overlay demo preview toolbar instead of taking a row
  www/src/modules/docs/interactive-demo/interactive-demo.tsx
  www/src/modules/docs/preview-controls.tsx
Due: prettier, eslint

feat(ds): sticky header with progressive blur
  ds/src/components/progressive-blur.tsx
  ds/src/routes/__root.tsx
  ds/src/styles.css
Due: prettier, eslint

feat(ds): rebuild system Overview as a whole-DS dashboard
  ds/src/components/explorer/overview-cards.tsx
  ds/src/components/explorer/overview-facts.ts
  ds/src/components/explorer/system-overview.tsx
  ds/src/routes/systems.$slug.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
