Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

prettier fixes
  .gitignore
  .prettierignore
  www/content/docs/components/forms-and-inputs/form.mdx
  www/content/docs/components/forms-and-inputs/slider.mdx
  www/content/docs/components/overlays/dialog.mdx
Due: prettier

update turbo.json
  turbo.json
Due: prettier

fix scripts
  config/ts-config/base.json
  config/ts-config/internal-package.json
  config/ts-config/react-library.json
  www/package.json
Due: prettier

build internal-registry
  www/package.json
  www/scripts/build-internal-registry.ts
  www/src/__registry__/ui/button-group.basic.tsx
  www/src/__registry__/ui/button.basic.tsx
  www/src/__registry__/ui/button.brutalist.tsx
  www/src/__registry__/ui/button.outline.tsx
  www/src/__registry__/ui/button.ripple.tsx
  www/src/__registry__/ui/calendar.basic.tsx
  www/src/__registry__/ui/calendar.cal.tsx
  www/src/__registry__/ui/checkbox-group.basic.tsx
  www/src/__registry__/ui/color-area.basic.tsx
  www/src/__registry__/ui/color-field.basic.tsx
  www/src/__registry__/ui/color-picker.basic.tsx
  www/src/__registry__/ui/color-slider.basic.tsx
  www/src/__registry__/ui/color-swatch-picker.basic.tsx
  www/src/__registry__/ui/combobox.basic.tsx
  www/src/__registry__/ui/date-field.basic.tsx
  www/src/__registry__/ui/date-picker.basic.tsx
  www/src/__registry__/ui/date-range-picker.basic.tsx
  www/src/__registry__/ui/dialog.basic.tsx
  www/src/__registry__/ui/list-box.basic.tsx
  www/src/__registry__/ui/menu.basic.tsx
  www/src/__registry__/ui/number-field.basic.tsx
  www/src/__registry__/ui/overlay.basic.tsx
  www/src/__registry__/ui/progress-bar.basic.tsx
  www/src/__registry__/ui/radio-group.basic.tsx
  www/src/__registry__/ui/search-field.basic.tsx
  www/src/__registry__/ui/select.basic.tsx
  www/src/__registry__/ui/slider.basic.tsx
  www/src/__registry__/ui/table.basic.tsx
  www/src/__registry__/ui/tag-group.basic.tsx
  www/src/__registry__/ui/text-area.basic.tsx
  www/src/__registry__/ui/text-field.basic.tsx
  www/src/__registry__/ui/time-field.basic.tsx
  www/src/__registry__/ui/toggle-button-group.basic.tsx
Due: prettier, eslint

format
  www/package.json
Due: prettier

fix avatar type error
  www/src/__registry__/ui/avatar.basic.tsx
  www/src/registry/ui/avatar.basic.tsx
Due: prettier, eslint

minor fixes
  www/src/app/(app)/styles/[styleName]/page.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/colors.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/index.tsx
  www/src/components/logo.tsx
  www/src/modules/docs/components/component-preview-client.tsx
  www/src/modules/styles/components/styles-overview.tsx
Due: prettier, eslint

fix: update style page
  www/src/app/(app)/styles/[styleName]/page.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/colors.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/index.tsx
Due: prettier, eslint

format
  www/src/registry/ui/avatar.basic.tsx
Due: prettier, eslint

fix type errors
  www/src/app/(app)/styles/[styleName]/theme-editor/index.tsx
Due: prettier, eslint

lint fixes
  package.json
  www/package.json
  www/src/app/(app)/styles/[styleName]/page.tsx
  www/src/app/(app)/styles/[styleName]/theme-editor/index.tsx
  www/src/middleware.ts
Due: prettier, eslint

format
  www/src/middleware.ts
Due: prettier, eslint

add auth and api packages
  .env.example
  config/prettier/package.json
  packages/api/eslint.config.js
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/root.ts
  packages/api/src/router/auth.ts
  packages/api/src/router/post.ts
  packages/api/src/trpc.ts
  packages/api/tsconfig.json
  packages/auth/env.ts
  packages/auth/eslint.config.js
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/auth/tsconfig.json
  packages/db/drizzle.config.ts
  packages/db/eslint.config.js
  packages/db/package.json
  packages/db/src/auth-schema.ts
  packages/db/src/client.ts
  packages/db/src/index.ts
  packages/db/src/schema.ts
  packages/db/tsconfig.json
  packages/validators/eslint.config.js
  packages/validators/package.json
  packages/validators/src/index.ts
  packages/validators/tsconfig.json
  patches/better-auth.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Due: prettier, eslint

add trpc
  packages/api/eslint.config.js
  packages/api/src/router/post.ts
  packages/api/src/trpc.ts
  packages/auth/eslint.config.js
  packages/auth/src/index.ts
  packages/db/eslint.config.js
  packages/validators/eslint.config.js
  pnpm-lock.yaml
  turbo.json
  www/next.config.mjs
  www/package.json
  www/src/env.ts
  www/src/modules/auth/client.ts
  www/src/modules/auth/server.ts
  www/src/trpc/query-client.ts
  www/src/trpc/react.tsx
  www/src/trpc/server.tsx
Due: prettier, eslint

wip auth
  config/ts-config/base.json
  config/ts-config/nextjs.json
  packages/auth/env.ts
  packages/auth/src/index.ts
  www/src/app/api/auth/[...all]/route.ts
  www/src/app/api/trpc/[trpc]/route.ts
  www/src/app/layout.tsx
  www/src/app/providers.tsx
  www/src/components/auth-showcase.tsx
  www/src/modules/auth/server.ts
  www/src/trpc/react.tsx
  www/tsconfig.json
Due: prettier, eslint

project setup
  config/prettier/package.json
  packages/auth/env.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/next.config.mjs
  www/package.json
  www/src/env.ts
  www/src/middleware.ts
  www/turbo.json
Due: prettier, eslint

make everything working
  packages/auth/env.ts
  packages/auth/src/index.ts
  www/src/app/internal/page.tsx
  www/src/app/layout.tsx
  www/src/components/auth-showcase.tsx
Due: prettier, eslint

format
  packages/auth/env.ts
  packages/db/drizzle.config.ts
  packages/db/src/client.ts
  www/src/__registry__/ui/progress-bar.basic.tsx
  www/src/__registry__/ui/switch.basic.tsx
  www/src/app/api/trpc/[trpc]/route.ts
  www/src/registry/ui/progress-bar.basic.tsx
  www/src/registry/ui/switch.basic.tsx
  www/src/trpc/server.tsx
Due: prettier, eslint

update eslint
  .env.example
  config/eslint/README.md
  config/eslint/base.js
  config/eslint/next.js
  config/eslint/nextjs.js
  config/eslint/package.json
  config/eslint/react-internal.js
  config/eslint/react.js
  config/eslint/tsconfig.json
  config/eslint/types.d.ts
  packages/db/src/client.ts
  pnpm-lock.yaml
  www/src/env.ts
Due: prettier, eslint

update db
  packages/db/src/client.ts
Due: prettier, eslint

add sign in
  www/content/docs/meta.json
  www/scripts/build-registry.ts
  www/src/app/(app)/blocks/page.tsx
  www/src/app/api/auth/[...all]/route.ts
  www/src/app/api/trpc/[trpc]/route.ts
  www/src/components/auth-showcase.tsx
  www/src/components/header.tsx
  www/src/components/logo.tsx
  www/src/modules/auth/components/sign-in-modal.tsx
  www/src/modules/auth/lib/client.ts
  www/src/modules/auth/lib/server.ts
  www/src/registry/ui/dialog.basic.tsx
  www/src/registry/ui/modal.blur.tsx
  www/src/trpc/server.tsx
Due: prettier, eslint

ignore eslint & typescript during build
  www/next.config.mjs
Due: none

remove internal page
  www/src/app/internal/page.tsx
Due: prettier, eslint

update github workflow
  .github/workflows/ci.yml
Due: prettier

bump better-auth
  packages/auth/package.json
  patches/better-auth.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

update pnpm-lock
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update tsconfig
  www/tsconfig.json
Due: prettier

remove changesets workflows
  .github/changeset-version.js
  .github/version-script-beta.js
  .github/version-script-next.js
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
Due: prettier, eslint

feat: add user profile menu
  pnpm-lock.yaml
  www/package.json
  www/src/components/header.tsx
  www/src/modules/auth/components/sign-in-modal.tsx
  www/src/modules/auth/components/user-profile-menu.tsx
  www/src/registry/ui/menu.basic.tsx
Due: prettier, eslint

chore: update readme
  README.md
Due: prettier

chore: add cursor rules
  .cursor/rules/README.md
  .cursor/rules/coding-standards.md
  .cursor/rules/project-context.md
Due: prettier

chore: update license
  LICENSE
Due: none

chore: add pending state to sign in
  www/src/modules/auth/components/sign-in-modal.tsx
Due: prettier, eslint

fix: fix site theme menu
  www/src/modules/auth/components/user-profile-menu.tsx
Due: prettier, eslint

remove boilerplate code
  packages/api/src/root.ts
  packages/api/src/router/post.ts
  www/src/app/api/r/[username]/[styleName]/[registryItemName]/route.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
