Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,jsx,ts,tsx,json,md,mdx,yml}"
      run: npx prettier --write {staged_files}
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint --fix {staged_files}

fix(ds): match shadcn's real Button variants in the preview
  ds/src/components/system/sections/shadcn/colors.tsx
  ds/src/components/system/sections/shadcn/shared.tsx
Due: prettier, eslint

fix(ds): destructive text uses --destructive-foreground, not white
  ds/src/components/system/sections/shadcn/data.ts
  ds/src/components/system/sections/shadcn/shared.tsx
Due: prettier, eslint

test(ds): add shadcn color verification against upstream
  ds/package.json
  ds/scripts/verify-shadcn-colors.ts
Due: prettier, eslint

chore: remove in-repo research docs
  docs/research/2026-07-05-color-model/README.md
  docs/research/2026-07-05-color-model/generate-comparison.ts
  docs/research/2026-07-05-color-model/radix-scales.json
  docs/research/2026-07-05-color-model/ramps-comparison.html
  docs/research/2026-07-05-color-model/tailwind-palette.json
  docs/research/2026-07-05-color-system-v2-spec.md
Due: prettier, eslint

feat(colors): v2 contrast-first scale solver
  packages/colors/package.json
  packages/colors/src/v2/cusp.ts
  packages/colors/src/v2/index.ts
  packages/colors/src/v2/solve.ts
  packages/colors/src/v2/v2.test.ts
Due: prettier, eslint

feat(www): color-system v2 comparison playground
  www/src/dev/color-playground/cluster.tsx
  www/src/dev/color-playground/data/geist.ts
  www/src/dev/color-playground/data/index.ts
  www/src/dev/color-playground/data/primer.ts
  www/src/dev/color-playground/data/radix.ts
  www/src/dev/color-playground/data/spectrum.ts
  www/src/dev/color-playground/data/tailwind.ts
  www/src/dev/color-playground/data/types.ts
  www/src/dev/color-playground/inject.ts
  www/src/dev/color-playground/lib.ts
  www/src/dev/color-playground/playground.tsx
  www/src/routeTree.gen.ts
  www/src/routes/dev.color-playground.tsx
Due: prettier, eslint

docs(research): color system v2 architecture spec
  docs/research/2026-07-05-color-system-v2-spec.md
Due: prettier

feat(colors): compare shipping algorithms in playground
  packages/colors/package.json
  packages/colors/src/index.ts
  packages/colors/src/v2/cusp.ts
  packages/colors/src/v2/index.ts
  packages/colors/src/v2/solve.ts
  packages/colors/src/v2/v2.test.ts
  www/src/dev/color-playground/inject.ts
  www/src/dev/color-playground/lib.ts
  www/src/dev/color-playground/playground.tsx
Due: prettier, eslint

docs(research): port ramp artifacts, add measured dark ladder to v2 spec
  docs/research/2026-07-05-color-model/README.md
  docs/research/2026-07-05-color-model/generate-comparison.ts
  docs/research/2026-07-05-color-model/radix-scales.json
  docs/research/2026-07-05-color-model/ramps-comparison.html
  docs/research/2026-07-05-color-model/tailwind-palette.json
  docs/research/2026-07-05-color-system-v2-spec.md
Due: prettier, eslint

fix(ds): match base-ui's soft destructive button, drop wrong foreground
  ds/scripts/verify-shadcn-colors.ts
  ds/src/components/system/sections/shadcn/data.ts
  ds/src/components/system/sections/shadcn/shared.tsx
Due: prettier, eslint

feat(ds): shadcn button hover + focus ring, dropdown controls
  ds/src/components/system/sections/shadcn/colors.tsx
  ds/src/components/system/sections/shadcn/shared.tsx
Due: prettier, eslint

feat(colors): algorithm comparison playground (#388)
  packages/colors/src/index.ts
  www/src/dev/color-playground/cluster.tsx
  www/src/dev/color-playground/data/geist.ts
  www/src/dev/color-playground/data/index.ts
  www/src/dev/color-playground/data/primer.ts
  www/src/dev/color-playground/data/radix.ts
  www/src/dev/color-playground/data/spectrum.ts
  www/src/dev/color-playground/data/tailwind.ts
  www/src/dev/color-playground/data/types.ts
  www/src/dev/color-playground/inject.ts
  www/src/dev/color-playground/lib.ts
  www/src/dev/color-playground/playground.tsx
  www/src/routeTree.gen.ts
  www/src/routes/dev.color-playground.tsx
Due: prettier, eslint

feat(ds): shadcn color axis — system, tokens, and Tailwind mapping (#398)
  ds/README.md
  ds/data/RETRO.md
  ds/package.json
  ds/scripts/verify-shadcn-colors.ts
  ds/src/components/system/registry.ts
  ds/src/components/system/sections/shadcn/color-system.tsx
  ds/src/components/system/sections/shadcn/colors.tsx
  ds/src/components/system/sections/shadcn/data.ts
  ds/src/components/system/sections/shadcn/placeholder.tsx
  ds/src/components/system/sections/shadcn/shared.tsx
  ds/src/components/system/sections/shadcn/tokens.tsx
  ds/src/config/site.ts
  ds/src/routes/index.tsx
  ds/src/routes/systems.$slug.tsx
Due: prettier, eslint

update README
  ds/README.md
Due: prettier

docs: tighten wording in CLAUDE.md and ds/README.md
  CLAUDE.md
  ds/README.md
Due: prettier

chore: upgrade to typescript 7, pin api-docs-builder to 6
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
  www/scripts/api-docs-builder/package.json
  www/scripts/api-docs-builder/tsconfig.json
  www/tsconfig.json
Due: prettier

chore: upgrade to typescript 7, pin api-docs-builder to 6 (#402)
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
  www/scripts/api-docs-builder/package.json
  www/scripts/api-docs-builder/tsconfig.json
  www/tsconfig.json
Due: prettier

feat(ds): snapshot→extract data pipeline and shadcn colors
  .oxfmtrc.jsonc
  .oxlintrc.json
  ds/CLAUDE.md
  ds/README.md
  ds/data/_archive/spectrum-2/colors.json
  ds/package.json
  ds/scripts/lib/drift.ts
  ds/scripts/lib/extract.ts
  ds/scripts/lib/snapshot.ts
  ds/scripts/lib/system.ts
  ds/scripts/pipeline.ts
  ds/scripts/systems/shadcn-ui.ts
  ds/scripts/verify-shadcn-colors.ts
  ds/sources/shadcn-ui/_legacy-base-colors.ts
  ds/sources/shadcn-ui/_legacy-colors.ts
  ds/sources/shadcn-ui/manifest.json
  ds/sources/shadcn-ui/style-luma.css
  ds/sources/shadcn-ui/style-lyra.css
  ds/sources/shadcn-ui/style-maia.css
  ds/sources/shadcn-ui/style-mira.css
  ds/sources/shadcn-ui/style-nova.css
  ds/sources/shadcn-ui/style-rhea.css
  ds/sources/shadcn-ui/style-sera.css
  ds/sources/shadcn-ui/style-vega.css
  ds/sources/shadcn-ui/themes.ts
  ds/src/components/explorer/derived-colors.tsx
  ds/src/components/system/registry.ts
  ds/src/components/system/sections/color.tsx
  ds/src/components/system/sections/shadcn/usage.tsx
  ds/src/data/schema.ts
  ds/systems/shadcn-ui/colors.json
  ds/tests/shadcn-colors.test.ts
  ds/tsconfig.json
  ds/vitest.config.ts
Due: prettier, eslint

perf: warm highlighter chunk on code-modal trigger intent
  www/src/modules/charts/chart-code-modal.tsx
  www/src/modules/create/code-options/index.tsx
  www/src/modules/docs/dynamic-pre.tsx
Due: prettier, eslint

perf(docs): lazy-load runtime shiki highlighter
  www/src/modules/docs/dynamic-pre-impl.tsx
  www/src/modules/docs/dynamic-pre.tsx
  www/src/modules/docs/highlight.ts
Due: prettier, eslint

feat(ds): scope shadcn derived colours to default style-nova
  ds/scripts/systems/shadcn-ui.ts
  ds/sources/shadcn-ui/manifest.json
  ds/sources/shadcn-ui/style-luma.css
  ds/sources/shadcn-ui/style-lyra.css
  ds/sources/shadcn-ui/style-maia.css
  ds/sources/shadcn-ui/style-mira.css
  ds/sources/shadcn-ui/style-rhea.css
  ds/sources/shadcn-ui/style-sera.css
  ds/sources/shadcn-ui/style-vega.css
  ds/src/components/system/sections/shadcn/usage.tsx
  ds/systems/shadcn-ui/colors.json
Due: prettier, eslint

feat(colors): public color playground at /internal/colors
  www/src/dev/color-playground/data/tailwind.ts
  www/src/modules/colors/cluster.tsx
  www/src/modules/colors/data/geist.ts
  www/src/modules/colors/data/index.ts
  www/src/modules/colors/data/primer.ts
  www/src/modules/colors/data/radix.ts
  www/src/modules/colors/data/spectrum.ts
  www/src/modules/colors/data/types.ts
  www/src/modules/colors/inject.ts
  www/src/modules/colors/lib.ts
  www/src/modules/colors/playground.tsx
  www/src/routeTree.gen.ts
  www/src/routes/dev.color-playground.tsx
  www/src/routes/internal.colors.tsx
Due: prettier, eslint

feat(ds): usage tooltips with per-component classes, drop refs column
  ds/scripts/systems/shadcn-ui.ts
  ds/src/components/explorer/derived-colors.tsx
  ds/src/data/schema.ts
  ds/systems/shadcn-ui/colors.json
  ds/tests/shadcn-colors.test.ts
Due: prettier, eslint

fix(colors): playground shows shipped ramps in both modes
  www/src/modules/colors/playground.tsx
Due: prettier, eslint

fix(colors): clearer engine labels in playground
  www/src/modules/colors/playground.tsx
Due: prettier, eslint

fix(ds): run ds tests as a vitest project with own alias
  vitest.config.ts
Due: prettier, eslint

feat(ds): snapshot→extract data pipeline and shadcn colors (#403)
  .oxfmtrc.jsonc
  .oxlintrc.json
  ds/CLAUDE.md
  ds/data/_archive/spectrum-2/colors.json
  ds/package.json
  ds/scripts/lib/drift.ts
  ds/scripts/lib/extract.ts
  ds/scripts/lib/snapshot.ts
  ds/scripts/lib/system.ts
  ds/scripts/pipeline.ts
  ds/scripts/systems/shadcn-ui.ts
  ds/scripts/verify-shadcn-colors.ts
  ds/sources/shadcn-ui/_legacy-base-colors.ts
  ds/sources/shadcn-ui/_legacy-colors.ts
  ds/sources/shadcn-ui/manifest.json
  ds/sources/shadcn-ui/style-nova.css
  ds/sources/shadcn-ui/themes.ts
  ds/src/components/explorer/derived-colors.tsx
  ds/src/components/system/registry.ts
  ds/src/components/system/sections/color.tsx
  ds/src/components/system/sections/shadcn/usage.tsx
  ds/src/data/schema.ts
  ds/systems/shadcn-ui/colors.json
  ds/tests/shadcn-colors.test.ts
  ds/tsconfig.json
  ds/vitest.config.ts
  vitest.config.ts
Due: prettier, eslint

perf(docs): warm highlighter chunk on docs route load
  www/src/routes/_app/docs/$.tsx
Due: prettier, eslint

feat(colors): public color playground at /internal/colors (#404)
  www/src/dev/color-playground/data/tailwind.ts
  www/src/modules/colors/cluster.tsx
  www/src/modules/colors/data/geist.ts
  www/src/modules/colors/data/index.ts
  www/src/modules/colors/data/primer.ts
  www/src/modules/colors/data/radix.ts
  www/src/modules/colors/data/spectrum.ts
  www/src/modules/colors/data/types.ts
  www/src/modules/colors/inject.ts
  www/src/modules/colors/lib.ts
  www/src/modules/colors/playground.tsx
  www/src/routeTree.gen.ts
  www/src/routes/dev.color-playground.tsx
  www/src/routes/internal.colors.tsx
Due: prettier, eslint

chore(colors): ignore vercel link artifacts
  colors/.gitignore
Due: none

chore(www): build registry before dev server
  CLAUDE.md
  www/package.json
Due: prettier

chore(www): build registry before dev server (#409)
  CLAUDE.md
  www/package.json
Due: prettier

chore: disable preview auto-verify in launch.json
  .claude/launch.json
Due: prettier

fix(www): align docs header, pager, and sidebar across breakpoints
  www/src/modules/docs/docs-copy-page.tsx
  www/src/modules/docs/docs-pager.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/route.tsx
Due: prettier, eslint

feat(www): show router devtools on Vercel previews
  www/src/routes/__root.tsx
  www/vite.config.ts
Due: prettier, eslint

feat(docs): rewrite introduction, add animated composition snippet
  pnpm-lock.yaml
  www/content/docs/(root)/index.mdx
  www/package.json
  www/src/modules/docs/composition-animation.tsx
  www/src/modules/docs/highlight.ts
  www/src/modules/docs/mdx-components.tsx
Due: prettier, eslint

feat(www): composition section on the home page
  www/src/modules/marketing/composition-section.tsx
  www/src/modules/marketing/home-page.tsx
Due: prettier, eslint
