Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

style: minor typography and utility improvements
  packages/registry/src/base/base.css
  start/src/modules/docs/page-layout.tsx
  start/src/styles.css
Due: prettier, eslint

feat(start): add /view route for block previews with style support
  packages/db/src/index.ts
  packages/db/src/lib/style-slug.ts
  packages/db/src/schemas/style.ts
  start/src/modules/blocks/block-view-layout.tsx
  start/src/modules/blocks/block-viewer.tsx
  start/src/routeTree.gen.ts
  start/src/routes/view/$block.tsx
Due: prettier, eslint

feat(start): add legal pages (privacy policy, terms of service)
  start/content/legal/privacy-policy.mdx
  start/content/legal/terms-of-service.mdx
  start/src/components/layout/docs-sidebar.tsx
  start/src/components/layout/footer.tsx
  start/src/modules/auth/login-form.tsx
  start/src/modules/docs/page-tabs.tsx
  start/src/routeTree.gen.ts
  start/src/routes/(legal)/$.tsx
Due: prettier, eslint

fix(registry): use static imports for icon libraries in Vite
  packages/registry/src/icons/create-icon-loader.tsx
Due: prettier, eslint

feat(start): add blocks page and reorganize modules
  .gitignore
  CLAUDE.md
  package.json
  packages/core/src/__registry__/blocks.ts
  packages/registry/package.json
  packages/registry/scripts/build.ts
  packages/registry/src/__generated__/blocks.tsx
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/blocks/registry.ts
  packages/registry/src/blocks/showcase/animation/components/animation.tsx
  packages/registry/src/blocks/showcase/animation/meta.ts
  packages/registry/src/icons/__hugeicons__.ts
  packages/registry/src/icons/__remix__.ts
  packages/registry/src/icons/__tabler__.ts
  packages/registry/src/icons/create-icon.tsx
  pnpm-lock.yaml
  start/package.json
  start/src/components/layout/app-sidebar.tsx
  start/src/config/site.tsx
  start/src/modules/blocks/block-card.tsx
  start/src/modules/blocks/block-view-layout.tsx
  start/src/modules/blocks/block-viewer.tsx
  start/src/modules/docs/interactive-demo/controls.tsx
  start/src/modules/docs/interactive-demo/element-to-code.ts
  start/src/modules/docs/interactive-demo/index.ts
  start/src/modules/docs/interactive-demo/interactive-demo.tsx
  start/src/modules/docs/interactive-demo/process-controls.ts
  start/src/modules/docs/interactive-demo/types.ts
  start/src/modules/docs/mdx-components.tsx
  start/src/modules/docs/mdx-plugins/rehype-transform.ts
  start/src/routeTree.gen.ts
  start/src/router.tsx
  start/src/routes/_app/blocks/route.tsx
  start/src/routes/_app/blocks/{-$category}.tsx
  start/src/routes/_app/route.tsx
  start/src/routes/demos/$slug.tsx
  start/src/routes/view/$block.tsx
  start/vite.config.ts
Due: prettier, eslint

wip
  fumadocs-start/.gitignore
  fumadocs-start/content/docs/index.mdx
  fumadocs-start/content/docs/test.mdx
  fumadocs-start/package.json
  fumadocs-start/source.config.ts
  fumadocs-start/src/components/not-found.tsx
  fumadocs-start/src/lib/layout.shared.tsx
  fumadocs-start/src/lib/source.ts
  fumadocs-start/src/routeTree.gen.ts
  fumadocs-start/src/router.tsx
  fumadocs-start/src/routes/__root.tsx
  fumadocs-start/src/routes/api/search.ts
  fumadocs-start/src/routes/docs/$.tsx
  fumadocs-start/src/routes/index.tsx
  fumadocs-start/src/styles/app.css
  fumadocs-start/tsconfig.json
  fumadocs-start/vite.config.ts
  package.json
  packages/colors/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/package.json
  www/plan.md
  www/tailwindcss-61078.log
  www/vite.config.ts
Due: prettier, eslint

feat(www): restore OG image generation with @vercel/og
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/src/routes/og.tsx
  www/vite.config.ts
Due: prettier, eslint

fix(www): fix Tailwind warnings in OG image generation
  www/src/routes/og.tsx
Due: prettier, eslint

feat(www): enable processed markdown for docs copy feature
  www/source.config.ts
  www/src/routes/_app/docs/$.tsx
Due: prettier, eslint

fix(www): filter search param URLs from prerendering
  www/vite.config.ts
Due: prettier, eslint

fix(www): suppress Vite bundler warnings for node_modules
  pnpm-lock.yaml
  www/package.json
  www/vite.config.ts
Due: prettier, eslint

chore: consolidate gitignore files and update patterns
  .gitignore
  www/.gitignore
Due: none

chore(www): remove rollup-plugin-visualizer
  pnpm-lock.yaml
  www/package.json
Due: prettier

fix(www): resolve lint errors and clean up unused code
  www/src/modules/docs/components-list/component-card.tsx
  www/src/modules/docs/dynamic-pre.tsx
  www/src/routes/__root.tsx
  www/src/routes/_app/styles/community.tsx
  www/src/routes/_app/styles/index.tsx
  www/src/routes/_app/styles/my-styles.tsx
  www/vite.config.ts
Due: prettier, eslint

chore(biome-config): clean up lint rules and remove next-js config
  config/biome-config/base.json
  config/biome-config/next-js.json
  config/biome-config/start.json
Due: prettier

chore: add clean scripts to www and tailwind packages
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-with/package.json
  www/package.json
Due: prettier

fix: replace vinxi references with nitro
  config/biome-config/start.json
  www/package.json
Due: prettier

update gitignore
  .gitignore
Due: none

chore: clean up config and remove db-migrate workflow
  .changeset/config.json
  .github/workflows/db-migrate.yml
  .gitignore
  www/package.json
  www/src/env.ts
Due: prettier, eslint

update ci
  .github/workflows/ci.yml
Due: prettier

format
  www/public/site.webmanifest
  www/src/components/layout/header.tsx
  www/src/components/layout/logo.tsx
  www/src/components/layout/mobile-nav.tsx
  www/src/components/marketing/featured-styles-showcase.tsx
  www/src/modules/docs/code-block-tabs.tsx
  www/src/modules/docs/code-block.tsx
  www/src/modules/docs/components-list/component-card.tsx
  www/src/modules/docs/components-list/components-data.ts
  www/src/modules/docs/components-list/components-list.tsx
  www/src/modules/docs/dynamic-pre.tsx
  www/src/modules/docs/interactive-demo/controls.tsx
  www/src/modules/docs/interactive-demo/element-to-code.ts
  www/src/modules/docs/interactive-demo/interactive-demo.tsx
  www/src/modules/docs/page-tabs.tsx
  www/src/modules/references/components/type-popover.tsx
  www/src/modules/references/components/type-renderer.tsx
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/components.tsx
  www/src/routes/_app/docs/{$}[.]md.tsx
  www/src/styles.css
  www/vite.config.ts
Due: prettier, eslint

update port config
  www/package.json
  www/vite.config.ts
Due: prettier, eslint

refactor: switch to root-level biome execution
  .changeset/config.json
  .github/version-script-beta.js
  .github/version-script-next.js
  .vscode/settings.json
  biome.json
  config/ts-config/base.json
  config/ts-config/internal-package.json
  config/ts-config/package.json
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/colors/package.json
  packages/colors/src/contrast/index.ts
  packages/colors/src/index.ts
  packages/colors/src/theme.ts
  packages/core/package.json
  packages/db/package.json
  packages/registry/package.json
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-with/package.json
  packages/types/package.json
  turbo.json
  vitest.config.ts
  www/package.json
  www/scripts/api-docs-builder/src/componentHandler.ts
  www/src/modules/docs/components-list/component-card.tsx
  www/src/modules/docs/components-list/components-list.tsx
  www/src/modules/docs/interactive-demo/controls.tsx
  www/src/modules/docs/interactive-demo/process-controls.ts
  www/src/modules/docs/mdx-plugins/rehype-transform.ts
  www/src/modules/docs/reference.tsx
  www/src/modules/references/transform.ts
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/components.tsx
Due: prettier, eslint

chore: format generated files after registry build
  CONTRIBUTING.md
  packages/core/src/__registry__/blocks.ts
  packages/core/src/__registry__/hooks.ts
  packages/core/src/__registry__/index.ts
  packages/core/src/__registry__/lib.ts
  packages/core/src/__registry__/ui.ts
  packages/registry/package.json
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/icons/__hugeicons__.ts
  packages/registry/src/icons/__remix__.ts
  packages/registry/src/icons/__tabler__.ts
Due: prettier, eslint

docs: update CONTRIBUTING.md to reflect current project structure
  CONTRIBUTING.md
Due: prettier

chore: sync tailwind package versions for changesets
  .changeset/brave-lions-dance.md
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-with/package.json
Due: prettier

chore: update changesets dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

format
  packages/core/src/__registry__/index.ts
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/icons/__hugeicons__.ts
  packages/registry/src/icons/__remix__.ts
  packages/registry/src/icons/__tabler__.ts
Due: prettier, eslint

update build registry script
  packages/registry/package.json
Due: prettier

fix: configure nitro for vercel deployment
  turbo.json
  www/vite.config.ts
Due: prettier, eslint

feat: add cache headers for vercel cdn
  www/src/routes/(legal)/$.tsx
  www/src/routes/_app/blocks/{-$category}.tsx
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/docs/components.tsx
  www/src/routes/_app/styles/community.tsx
  www/src/routes/_app/styles/index.tsx
  www/src/routes/_app/styles/my-styles.tsx
  www/src/routes/index.tsx
  www/src/routes/og.tsx
Due: prettier, eslint

chore: update biome configuration
  biome.json
  packages/registry/biome.json
Due: prettier

chore: update registry and icons
  packages/core/src/__registry__/blocks.ts
  packages/registry/scripts/build.ts
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/blocks/showcase/cards/components/invite-members.tsx
Due: prettier, eslint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
