Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

chore: remove disclosure for now
  www/content/docs/components/buttons/file-trigger.mdx
  www/content/docs/components/navigation/disclosure.mdx
  www/src/__registry__/demos.tsx
  www/src/demos/disclosure-group/default.tsx
  www/src/demos/disclosure/default.tsx
  www/src/demos/registry.ts
Due: prettier, eslint

refactor: update components
  pnpm-lock.yaml
  www/content/docs/components/overlays/drawer.mdx
  www/content/docs/components/overlays/meta.json
  www/content/docs/components/overlays/modal.mdx
  www/content/docs/components/overlays/overlay.mdx
  www/content/docs/components/overlays/popover.mdx
  www/next.config.mjs
  www/package.json
  www/src/__registry__/core/alert-01.tsx
  www/src/__registry__/core/drawer.tsx
  www/src/__registry__/demos.tsx
  www/src/components/core/popover.tsx
  www/src/components/docs/toc.tsx
  www/src/components/mobile-nav.tsx
  www/src/components/sidebar.tsx
  www/src/components/theme-switcher.tsx
  www/src/demos/overlay/type.tsx
  www/src/demos/popover/basic.tsx
  www/src/demos/registry.ts
  www/src/registry/core/alert-01.tsx
  www/src/registry/core/avatar.tsx
  www/src/registry/core/drawer.tsx
  www/src/registry/core/modal.tsx
  www/src/registry/core/overlay.tsx
  www/src/registry/core/popover.tsx
Due: prettier, eslint

docs: update overlay components
  www/content/docs/components/overlays/dialog.mdx
  www/content/docs/components/overlays/popover.mdx
  www/content/docs/components/overlays/tooltip.mdx
  www/src/components/core/popover.tsx
  www/src/components/dynamic-core/drawer.tsx
  www/src/components/dynamic-core/modal.tsx
  www/src/components/dynamic-core/popover.tsx
  www/src/lib/themes.ts
  www/src/registry/core/dialog_basic.tsx
  www/src/registry/core/drawer_basic.tsx
  www/src/registry/core/modal_basic.tsx
  www/src/registry/core/overlay-01.tsx
  www/src/registry/core/overlay.tsx
  www/src/registry/core/popover_basic.tsx
  www/src/registry/registry-core.ts
Due: prettier, eslint

fix: fix component preview
  www/src/components/docs/component-preview-client.tsx
  www/src/components/docs/component-preview.tsx
Due: prettier, eslint

fix: update import
  www/content/docs/components/navigation/breadcrumbs.mdx
  www/src/components/dynamic-core/breadcrumbs.tsx
Due: prettier, eslint

feat: table component
  www/content/docs/components/data-display/table.mdx
  www/src/__registry__/core/checkbox_basic.tsx
  www/src/__registry__/demos.tsx
  www/src/app/(home)/page.tsx
  www/src/components/docs/theme-override.tsx
  www/src/components/docs/toc.tsx
  www/src/demos/registry.ts
  www/src/demos/table/controlled.tsx
  www/src/demos/table/disabled-rows.tsx
  www/src/demos/table/disallow-empty-selection.tsx
  www/src/demos/table/empty-state.tsx
  www/src/demos/table/links.tsx
  www/src/demos/table/reordable.tsx
  www/src/demos/table/row-action.tsx
  www/src/demos/table/selection-behavior.tsx
  www/src/demos/table/selection-mode.tsx
  www/src/demos/table/selection-variant.tsx
  www/src/demos/table/sorting.tsx
  www/src/demos/table/static-row-action.tsx
  www/src/demos/table/uncontrolled.tsx
  www/src/registry/core/table.tsx
  www/src/registry/core/tabs_basic.tsx
  www/src/registry/core/tabs_motion.tsx
  www/src/registry/lib/focus-styles.ts
  www/src/styles/docs.css
  www/src/styles/globals.css
Due: prettier, eslint

chore: update separator
  www/content/docs/components/data-display/separator.mdx
  www/src/registry/core/separator.tsx
Due: prettier, eslint

fix: format
  www/content/docs/components/date-and-time/date-field.mdx
Due: prettier

fix: format
  www/content/docs/components/forms-and-inputs/text-area.mdx
  www/content/docs/components/menus-and-selection/command.mdx
  www/content/docs/components/navigation/breadcrumbs.mdx
  www/content/docs/components/overlays/dialog.mdx
  www/content/docs/getting-started/guides/testing.mdx
  www/src/app/(app)/docs/[...slug]/page.tsx
  www/src/app/(app)/themes/components/theme-select.tsx
  www/src/app/(home)/page.tsx
  www/src/app/internal/page.tsx
  www/src/components/docs/install-tabs.tsx
  www/src/components/dynamic-core/command.tsx
  www/src/components/dynamic-core/drawer.tsx
  www/src/components/search-command-client.tsx
  www/src/components/theme-provider.tsx
  www/src/demos/date-field/description.tsx
  www/src/demos/date-field/granularity.tsx
  www/src/demos/date-range-picker/composition.tsx
  www/src/demos/range-calendar/page-behaviour.tsx
  www/src/demos/registry.ts
  www/src/demos/slider/value-scale.tsx
  www/src/demos/slider/vertical.tsx
  www/src/demos/table/disabled-rows.tsx
  www/src/demos/table/empty-state.tsx
  www/src/demos/tabs/disabled.tsx
  www/src/demos/text-field/composition.tsx
  www/src/registry/core/avatar.tsx
  www/src/registry/core/checkbox_basic.tsx
  www/src/registry/core/color-area.tsx
  www/src/registry/core/color-slider_new.tsx
  www/src/registry/core/drawer_basic.tsx
  www/src/registry/core/field.tsx
  www/src/registry/core/kbd.tsx
  www/src/registry/core/modal_basic.tsx
  www/src/registry/core/section.tsx
  www/src/registry/core/switch_basic.tsx
  www/src/registry/core/table.tsx
  www/src/registry/core/tabs_motion.tsx
  www/src/styles/fonts.ts
Due: prettier, eslint

feat: update colorpicker component
  packages/tailwindcss-rac/index.js
  www/content/docs/components/colors/color-picker.mdx
  www/content/docs/components/drag-and-drop/drop-zone.mdx
  www/src/app/internal/page.tsx
  www/src/components/docs/style-switcher.tsx
  www/src/components/mobile-nav.tsx
  www/src/components/sidebar.tsx
  www/src/demos/color-picker/default.tsx
  www/src/demos/drop-zone/basic.tsx
  www/src/demos/drop-zone/disabled.tsx
  www/src/demos/drop-zone/events.tsx
  www/src/demos/drop-zone/file-trigger.tsx
  www/src/demos/drop-zone/label.tsx
  www/src/registry/core/alert-01.tsx
  www/src/registry/core/color-field.tsx
  www/src/registry/core/color-picker_new.tsx
  www/src/registry/core/color-slider.tsx
  www/src/registry/core/drawer_basic.tsx
  www/src/registry/core/drop-zone.tsx
  www/src/registry/core/modal_basic.tsx
  www/src/registry/core/select.tsx
Due: prettier, eslint

fix: format
  package.json
  patches/tailwind-variants.patch
  pnpm-lock.yaml
  www/content/docs/components/data-display/badge.mdx
  www/content/docs/components/data-display/separator.mdx
  www/content/docs/components/feedback/alert.mdx
  www/src/__registry__/demos.tsx
  www/src/app/internal/page.tsx
  www/src/components/docs/component-preview.tsx
  www/src/components/mobile-nav.tsx
  www/src/demos/drop-zone/basic.tsx
  www/src/registry/core/alert-01.tsx
  www/src/registry/core/calendar copy 2.tsx
  www/src/registry/core/calendar_basic.tsx
  www/src/registry/core/calendar_cal.tsx
  www/src/registry/core/checkbox_basic.tsx
  www/src/registry/core/date-input.tsx
  www/src/registry/core/select.tsx
  www/src/registry/core/skeleton.tsx
Due: prettier, eslint

fix: fix build errors
  www/content/docs/components/feedback/alert.mdx
Due: prettier

chore: update next config
  www/next.config.mjs
Due: none

feat: add custom portal container for demos
  www/src/app/layout.tsx
  www/src/components/docs/component-preview.tsx
  www/src/components/docs/style-switcher.tsx
  www/src/demos/popover/basic.tsx
Due: prettier, eslint

chore: update docs
  www/content/docs/components/buttons/file-trigger.mdx
  www/content/docs/components/colors/color-area.mdx
  www/content/docs/components/colors/color-field.mdx
  www/content/docs/components/colors/color-picker.mdx
  www/content/docs/components/colors/color-slider.mdx
  www/content/docs/components/colors/color-swatch-picker.mdx
  www/content/docs/components/colors/color-swatch.mdx
  www/content/docs/components/data-display/avatar.mdx
  www/content/docs/components/data-display/badge.mdx
  www/content/docs/components/data-display/separator.mdx
  www/content/docs/components/data-display/table.mdx
  www/content/docs/components/date-and-time/calendar.mdx
  www/content/docs/components/date-and-time/date-field.mdx
  www/content/docs/components/date-and-time/range-calendar.mdx
  www/content/docs/components/date-and-time/time-field.mdx
  www/content/docs/components/drag-and-drop/drop-zone.mdx
  www/content/docs/components/feedback/progress-bar.mdx
  www/content/docs/components/forms-and-inputs/checkbox-group.mdx
  www/content/docs/components/forms-and-inputs/checkbox.mdx
  www/content/docs/components/forms-and-inputs/form.mdx
  www/content/docs/components/forms-and-inputs/radio-group.mdx
  www/content/docs/components/forms-and-inputs/search-field.mdx
  www/content/docs/components/forms-and-inputs/slider.mdx
  www/content/docs/components/forms-and-inputs/switch.mdx
  www/content/docs/components/forms-and-inputs/text-area.mdx
  www/content/docs/components/forms-and-inputs/text-field.mdx
  www/content/docs/components/navigation/breadcrumbs.mdx
  www/content/docs/components/navigation/tabs.mdx
  www/content/docs/components/overlays/dialog.mdx
  www/content/docs/components/overlays/drawer.mdx
  www/content/docs/components/overlays/modal.mdx
  www/content/docs/components/overlays/overlay.mdx
  www/content/docs/components/overlays/popover.mdx
  www/content/docs/components/overlays/tooltip.mdx
Due: prettier

chore: update component preview
  www/src/components/docs/component-preview.tsx
Due: prettier, eslint

fix: fix build error
  www/src/demos/popover/basic.tsx
Due: prettier, eslint

fix: fix theme switcher overflow
  www/src/components/core/alert.tsx
  www/src/components/docs/style-switcher.tsx
  www/src/components/dynamic-core/alert.tsx
  www/src/components/sidebar.tsx
  www/src/components/theme-switcher.tsx
  www/src/registry/core/alert-04.tsx
  www/src/registry/core/alert-05.tsx
  www/src/registry/core/alert_basic.tsx
  www/src/registry/registry-core.ts
Due: prettier, eslint

fix: fix type errors
  www/src/components/dynamic-core/button.tsx
  www/src/components/dynamic-core/link.tsx
  www/src/demos/calendar/composition.tsx
  www/src/demos/combobox/composition.tsx
  www/src/demos/combobox/required.tsx
  www/src/demos/date-picker/loading.tsx
  www/src/demos/date-picker/required.tsx
  www/src/demos/date-range-picker/required.tsx
  www/src/demos/number-field/composition.tsx
  www/src/demos/range-calendar/composition.tsx
  www/src/demos/select/required.tsx
  www/src/registry/core/combobox_basic.tsx
  www/src/registry/core/date-picker_basic.tsx
  www/src/registry/core/date-range-picker_basic.tsx
  www/src/registry/registry-core_new.ts
  www/src/registry/types.ts
Due: prettier, eslint

feat: style-switcher
  www/scripts/build-internal-registry.ts
  www/src/__registry__/demos.tsx
  www/src/components/demos/registry.ts
  www/src/components/docs/component-preview-client.tsx
  www/src/components/docs/component-preview.tsx
  www/src/components/docs/style-switcher.tsx
  www/src/components/dynamic-core/alert.tsx
  www/src/components/dynamic-core/calendar.tsx
  www/src/lib/create-dynamic-component.tsx
  www/src/lib/themes.ts
  www/src/registry/core/popover_basic.tsx
Due: prettier, eslint

chore: cli is getting there
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/constants.ts
  packages/cli/src/helpers/add-primitives.ts
  packages/cli/src/helpers/handle-error.ts
  packages/cli/src/helpers/registry-api.ts
  packages/cli/src/registry/api.ts
  packages/cli/src/registry/helpers.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/is-url.ts
  packages/cli/tsup.config.ts
  packages/registry/schema.ts
  pnpm-lock.yaml
Due: prettier, eslint

chore: update deps
  pnpm-lock.yaml
  www/package.json
Due: prettier

fix: format
  packages/cli/src/constants.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/is-url.ts
  packages/cli/tsup.config.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
