Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

fix: use Turbo for registry build ordering instead of shell cd
  packages/registry/package.json
  packages/registry/turbo.json
Due: prettier

format
  www/modules/styles/active-style-provider.tsx
Due: prettier, eslint

fix: add packages depending on ignored packages to changesets ignore list
  .changeset/config.json
Due: prettier

add aria-hidden on svgs
  www/app/(marketing)/(root)/page.tsx
  www/app/demos/card/page.tsx
  www/app/og/route.tsx
  www/components/logo.tsx
Due: prettier, eslint

fix lint noArrayIndex
  www/app/(marketing)/(root)/page.tsx
  www/app/(marketing)/[slug]/page.tsx
  www/components/layout/footer.tsx
  www/components/layout/mobile-nav.tsx
  www/components/search-command.tsx
Due: prettier, eslint

fix accessibility lint errors
  www/app/(app)/docs/components/page.tsx
  www/biome.json
Due: prettier, eslint

update biome config
  config/biome-config/next-js.json
Due: prettier

fix lint errors
  www/app/(app)/docs/[[...slug]]/page.tsx
  www/app/demos/table/page.tsx
  www/modules/blocks/block-view.tsx
  www/modules/docs/api-reference/components/type-popover.tsx
  www/modules/docs/api-reference/components/type-renderer.tsx
  www/modules/docs/api-reference/props-table.tsx
  www/modules/docs/code-block/code-block.tsx
  www/modules/docs/docs-copy-page.tsx
  www/modules/docs/mdx-components.tsx
  www/modules/style-editor/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/colors-editor/color-scale.tsx
  www/modules/style-editor/preview.tsx
  www/modules/styles/styles-list.tsx
  www/package.json
Due: prettier, eslint

wip
  www/app/(internal)/playground/page.tsx
  www/app/demos/table/page.tsx
  www/components/layout/mobile-nav.tsx
  www/components/search-command.tsx
  www/lib/trpc/build.ts
  www/lib/trpc/server.tsx
  www/modules/docs/api-reference/components/type-popover.tsx
  www/modules/docs/interactive-demo/element-to-code.ts
  www/modules/docs/interactive-demo/loader.tsx
  www/modules/style-editor/colors-editor/accent-emphasis-editor.tsx
  www/modules/style-editor/colors-editor/color-scale-editor.tsx
  www/modules/style-editor/use-update-style-mutation.ts
  www/modules/styles/active-style-selector.tsx
  www/modules/styles/use-create-style.ts
  www/package.json
  www/scripts/api-docs-builder/src/formatter.ts
  www/scripts/api-docs-builder/src/type-to-ast.ts
Due: prettier, eslint

add leonardo package for now
  packages/contrast-colors/.eslintrc.json
  packages/contrast-colors/.npmignore
  packages/contrast-colors/CHANGELOG.md
  packages/contrast-colors/README.md
  packages/contrast-colors/index.d.ts
  packages/contrast-colors/index.js
  packages/contrast-colors/lib/backgroundcolor.js
  packages/contrast-colors/lib/chroma-plus.js
  packages/contrast-colors/lib/color.js
  packages/contrast-colors/lib/curve.js
  packages/contrast-colors/lib/theme.js
  packages/contrast-colors/lib/utils.js
  packages/contrast-colors/moon.yml
  packages/contrast-colors/package.json
  packages/contrast-colors/test/backgroundColor.test.js
  packages/contrast-colors/test/colorSetters.test.js
  packages/contrast-colors/test/contrast.test.js
  packages/contrast-colors/test/convertColorValue.test.js
  packages/contrast-colors/test/createScale.test.js
  packages/contrast-colors/test/minPositive.test.js
  packages/contrast-colors/test/ratioName.test.js
  packages/contrast-colors/test/searchColors.test.js
  packages/contrast-colors/test/theme.test.js
  packages/contrast-colors/test/themeSetters.test.js
  packages/registry-builder/package.json
  packages/registry-builder/src/build.ts
  packages/registry-builder/src/cli.ts
  packages/registry-builder/src/generators/index.ts
  packages/registry-builder/src/generators/item.ts
  packages/registry-builder/src/generators/manifest.ts
  packages/registry-builder/src/index.ts
  packages/registry-builder/tsconfig.json
Due: prettier, eslint

feat: color engine package
  packages/color-engine/package.json
  packages/color-engine/src/algorithms/leonardo/index.ts
  packages/color-engine/src/algorithms/material/index.ts
  packages/color-engine/src/algorithms/radix/index.ts
  packages/color-engine/src/core/index.ts
  packages/color-engine/src/core/types.ts
  packages/color-engine/src/core/utils.ts
  packages/color-engine/src/index.ts
  packages/color-engine/src/types/apca-w3.d.ts
  packages/color-engine/src/types/ciebase.d.ts
  packages/color-engine/src/types/ciecam02.d.ts
  packages/color-engine/src/types/hsluv.d.ts
  packages/color-engine/tests/index.test.ts
  packages/color-engine/tests/leonardo.test.ts
  packages/color-engine/tests/material.test.ts
  packages/color-engine/tests/radix.test.ts
  packages/color-engine/tests/utils.test.ts
  packages/color-engine/tsconfig.json
  pnpm-lock.yaml
Due: prettier, eslint

update
  www/src/app/page.tsx
  www/tailwind.config.ts
  www/tsconfig.json
Due: prettier, eslint

update
  www/src/app/page.tsx
Due: prettier, eslint

clean up
  packages/registry-builder/package.json
  packages/registry-builder/src/build.ts
  packages/registry-builder/src/cli.ts
  packages/registry-builder/src/generators/index.ts
  packages/registry-builder/src/generators/item.ts
  packages/registry-builder/src/generators/manifest.ts
  packages/registry-builder/src/index.ts
  packages/registry-builder/tsconfig.json
  pnpm-lock.yaml
Due: prettier, eslint

clean up
  .changeset/config.json
  packages/contrast-colors/.eslintrc.json
  packages/contrast-colors/.npmignore
  packages/contrast-colors/CHANGELOG.md
  packages/contrast-colors/README.md
  packages/contrast-colors/index.d.ts
  packages/contrast-colors/index.js
  packages/contrast-colors/lib/backgroundcolor.js
  packages/contrast-colors/lib/chroma-plus.js
  packages/contrast-colors/lib/color.js
  packages/contrast-colors/lib/curve.js
  packages/contrast-colors/lib/theme.js
  packages/contrast-colors/lib/utils.js
  packages/contrast-colors/moon.yml
  packages/contrast-colors/package.json
  packages/contrast-colors/test/backgroundColor.test.js
  packages/contrast-colors/test/colorSetters.test.js
  packages/contrast-colors/test/contrast.test.js
  packages/contrast-colors/test/convertColorValue.test.js
  packages/contrast-colors/test/createScale.test.js
  packages/contrast-colors/test/minPositive.test.js
  packages/contrast-colors/test/ratioName.test.js
  packages/contrast-colors/test/searchColors.test.js
  packages/contrast-colors/test/theme.test.js
  packages/contrast-colors/test/themeSetters.test.js
Due: prettier, eslint

update config
  .changeset/config.json
Due: prettier

update lock file
  pnpm-lock.yaml
Due: none

feat: colors package
  packages/color-engine/package.json
  packages/color-engine/scripts/compare-libraries.ts
  packages/color-engine/src/algorithms/leonardo/background-color.ts
  packages/color-engine/src/algorithms/leonardo/color.ts
  packages/color-engine/src/algorithms/leonardo/index.ts
  packages/color-engine/src/algorithms/leonardo/theme.ts
  packages/color-engine/src/algorithms/leonardo/utils.ts
  packages/color-engine/src/algorithms/material/index.ts
  packages/color-engine/src/algorithms/radix/index.ts
  packages/color-engine/src/core/index.ts
  packages/color-engine/src/core/types.ts
  packages/color-engine/src/core/utils.ts
  packages/color-engine/src/index.ts
  packages/color-engine/src/types.ts
  packages/color-engine/src/types/apca-w3.d.ts
  packages/color-engine/src/types/ciebase.d.ts
  packages/color-engine/src/types/ciecam02.d.ts
  packages/color-engine/src/types/hsluv.d.ts
  packages/color-engine/src/utils/curve.ts
  packages/color-engine/tests/index.test.ts
  packages/color-engine/tests/leonardo.test.ts
  packages/color-engine/tests/material.test.ts
  packages/color-engine/tests/migration-baseline.test.ts
  packages/color-engine/tests/radix.test.ts
  packages/color-engine/tests/utils.test.ts
Due: prettier, eslint

add playground, fix some bugs
  .gitignore
  packages/color-engine/package.json
  packages/color-engine/src/algorithms/leonardo/index.ts
  packages/color-engine/src/algorithms/leonardo/theme.ts
  packages/color-engine/tests/index.test.ts
  packages/registry/src/ui/slider/basic.tsx
  pnpm-lock.yaml
  www/app/(internal)/internal/page.tsx
  www/package.json
Due: prettier, eslint

refactor from class to functional
  .changeset/config.json
  packages/color-engine/src/algorithms/leonardo/background-color.ts
  packages/color-engine/src/algorithms/leonardo/color.ts
  packages/color-engine/src/algorithms/leonardo/theme.ts
  packages/colors/package.json
  packages/colors/scripts/compare-libraries.ts
  packages/colors/src/algorithms/leonardo/generate.ts
  packages/colors/src/algorithms/leonardo/index.ts
  packages/colors/src/algorithms/leonardo/utils.ts
  packages/colors/src/algorithms/material/index.ts
  packages/colors/src/index.ts
  packages/colors/src/types.ts
  packages/colors/src/utils/curve.ts
  packages/colors/tests/__snapshots__/snapshot-baseline.test.ts.snap
  packages/colors/tests/index.test.ts
  packages/colors/tests/material.test.ts
  packages/colors/tests/migration-baseline.test.ts
  packages/colors/tests/snapshot-baseline.test.ts
  packages/colors/tsconfig.json
  pnpm-lock.yaml
Due: prettier, eslint

update colors playground
  www/app/(internal)/internal/page.tsx
Due: prettier, eslint

wip
  packages/core/src/utils/create-dynamic-component.tsx
  packages/registry/package.json
  packages/registry/src/base/base.ts
  pnpm-lock.yaml
Due: prettier, eslint

new core package wip
  packages/core/src/__generated__/base.ts
  packages/core/src/__generated__/blocks.ts
  packages/core/src/__generated__/hooks.ts
  packages/core/src/__generated__/icons.ts
  packages/core/src/__generated__/lib.ts
  packages/core/src/__generated__/types.ts
  packages/core/src/__generated__/ui.ts
  packages/registry/package.json
  packages/registry/scripts/build-core.ts
  packages/registry/src/base/base.ts
  packages/registry/src/types.ts
  packages/shadcn-adapter/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier, eslint

wip
  packages/core/package.json
  packages/core/src/__generated__/types.ts
  packages/core/src/__registry__/base.ts
  packages/core/src/__registry__/blocks.ts
  packages/core/src/__registry__/hooks.ts
  packages/core/src/__registry__/icons.ts
  packages/core/src/__registry__/lib.ts
  packages/core/src/__registry__/ui.ts
  packages/core/src/index.ts
  packages/core/src/shadcn/generator.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/theme.ts
  packages/core/src/shadcn/transform.ts
  packages/core/src/style/index.ts
  packages/core/src/style/theme.ts
  packages/core/src/types.ts
  packages/registry/package.json
  packages/registry/scripts/build-core.ts
  packages/registry/scripts/build-internal-registry.ts
  packages/registry/scripts/build-registry.ts
  packages/registry/src/types.ts
  pnpm-lock.yaml
Due: prettier, eslint

wip
  packages/core/package.json
  packages/core/src/__registry__/icons.ts
  packages/core/src/shadcn/generator.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/theme.ts
  packages/core/src/shadcn/transform.ts
  packages/core/src/style/client.tsx
  packages/core/src/style/index.ts
  packages/core/src/style/theme.ts
  packages/core/src/variants/index.ts
  packages/registry/package.json
  packages/registry/src/__generated__/icons.tsx
  packages/registry/src/icons/create-icon.tsx
  packages/registry/src/icons/registry.ts
  pnpm-lock.yaml
  www/components/marketing/featured-styles-showcase.tsx
  www/package.json
Due: prettier, eslint

wip
  .gitignore
  packages/colors/biome.json
  packages/colors/package.json
  packages/colors/scripts/compare-libraries.ts
  packages/colors/src/algorithms/contrast/defaults.ts
  packages/colors/src/algorithms/contrast/generate.ts
  packages/colors/src/algorithms/contrast/index.ts
  packages/colors/src/algorithms/contrast/utils.ts
  packages/colors/src/algorithms/material/defaults.ts
  packages/colors/src/algorithms/material/index.ts
  packages/colors/src/create-theme.ts
  packages/colors/src/index.ts
  packages/colors/src/types.ts
  packages/colors/src/utils/curve.ts
  packages/colors/tests/__snapshots__/snapshot-baseline.test.ts.snap
  packages/colors/tests/index.test.ts
  packages/colors/tests/material.test.ts
  packages/colors/tests/migration-baseline.test.ts
  packages/colors/tests/snapshot-baseline.test.ts
  packages/colors/tsconfig.json
  pnpm-lock.yaml
  refactor-plan.md
Due: prettier, eslint

update material algorithm utils
  packages/colors/biome.json
  packages/colors/package.json
  packages/colors/src/algorithms/material/defaults.ts
  packages/colors/src/algorithms/material/index.ts
  packages/colors/src/constants.ts
  packages/colors/src/contrast/curve.ts
  packages/colors/src/contrast/defaults.ts
  packages/colors/src/contrast/generate.ts
  packages/colors/src/contrast/index.ts
  packages/colors/src/contrast/types.ts
  packages/colors/src/contrast/utils.ts
  packages/colors/src/create-theme.ts
  packages/colors/src/index.ts
  packages/colors/src/material/README.md
  packages/colors/src/material/constants.ts
  packages/colors/src/material/index.ts
  packages/colors/src/material/schema.ts
  packages/colors/src/material/types.ts
  packages/colors/src/types.ts
  packages/colors/tests/index.test.ts
  packages/colors/tests/material.test.ts
Due: prettier, eslint

update @dotui/colors api
  packages/colors/src/constants.ts
  packages/colors/src/contrast/defaults.ts
  packages/colors/src/contrast/index.ts
  packages/colors/src/contrast/schema.ts
  packages/colors/src/contrast/theme.test.ts
  packages/colors/src/contrast/theme.ts
  packages/colors/src/index.ts
  packages/colors/src/material/constants.ts
  packages/colors/src/material/index.ts
  packages/colors/src/material/types.ts
  packages/colors/src/schema.ts
  packages/colors/src/shared/constants.ts
  packages/colors/src/shared/types.ts
  packages/colors/src/theme.test.ts
  packages/colors/src/theme.ts
Due: prettier, eslint

update refactor plan
  refactor-plan.md
Due: prettier

fix: align dependency versions across workspace
  packages/api/package.json
  packages/auth/package.json
  packages/db/package.json
  packages/registry/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier

feat(core): add schemas, style providers, and createDynamicComponent
  packages/core/package.json
  packages/core/src/components/create-dynamic-component.tsx
  packages/core/src/components/index.ts
  packages/core/src/index.ts
  packages/core/src/schemas/colors.ts
  packages/core/src/schemas/components.ts
  packages/core/src/schemas/effects.ts
  packages/core/src/schemas/icons.ts
  packages/core/src/schemas/index.ts
  packages/core/src/schemas/style.ts
  packages/core/src/schemas/theme.ts
  packages/core/src/schemas/typography.ts
  packages/core/src/schemas/variants.ts
  packages/core/src/style/client.tsx
  packages/core/src/style/index.ts
  packages/core/src/style/provider.tsx
  packages/core/src/style/theme-provider.tsx
  packages/core/src/style/variants-provider.tsx
  packages/core/src/types.ts
  packages/core/src/utils/create-dynamic-component.tsx
  packages/core/src/variants/index.ts
  pnpm-lock.yaml
  refactor-plan.md
Due: prettier, eslint

feat(db): migrate to single config column schema
  .github/workflows/ci.yml
  .github/workflows/db-migrate.yml
  packages/api/package.json
  packages/api/src/routers/style.ts
  packages/core/package.json
  packages/core/src/schemas/typography.ts
  packages/db/drizzle/0000_romantic_franklin_storm.sql
  packages/db/drizzle/meta/0000_snapshot.json
  packages/db/drizzle/meta/_journal.json
  packages/db/package.json
  packages/db/src/constants.ts
  packages/db/src/schemas/style.ts
  packages/db/src/seed.ts
  pnpm-lock.yaml
  refactor-plan.md
Due: prettier, eslint

feat(core): port shadcn-adapter to @dotui/core/shadcn
  packages/core/package.json
  packages/core/src/__registry__/index.ts
  packages/core/src/shadcn/generators/all.ts
  packages/core/src/shadcn/generators/base.ts
  packages/core/src/shadcn/generators/index.ts
  packages/core/src/shadcn/generators/item.ts
  packages/core/src/shadcn/generators/registry.ts
  packages/core/src/shadcn/generators/theme.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/transform.ts
  packages/core/src/shadcn/transforms/icons.ts
  packages/core/src/shadcn/transforms/imports.ts
  packages/core/src/shadcn/transforms/index.ts
  packages/core/src/shadcn/transforms/pipeline.ts
  packages/core/src/shadcn/transforms/types.ts
  packages/db/package.json
  packages/db/scripts/migrate-to-config.sql
  packages/db/src/constants.ts
  packages/registry/src/index.ts
  pnpm-lock.yaml
Due: prettier, eslint

chore: remove shadcn-adapter and transformers packages
  .changeset/config.json
  packages/core/package.json
  packages/core/src/shadcn/generators/all.ts
  packages/core/src/shadcn/generators/base.ts
  packages/core/src/shadcn/generators/item.ts
  packages/core/src/shadcn/generators/registry.ts
  packages/core/src/shadcn/generators/theme.ts
  packages/core/src/shadcn/index.ts
  packages/core/src/shadcn/transform.ts
  packages/core/src/types.ts
  packages/core/tsconfig.json
  packages/shadcn-adapter/package.json
  packages/shadcn-adapter/src/generators/all.ts
  packages/shadcn-adapter/src/generators/base.ts
  packages/shadcn-adapter/src/generators/index.ts
  packages/shadcn-adapter/src/generators/item.ts
  packages/shadcn-adapter/src/generators/registry.ts
  packages/shadcn-adapter/src/generators/theme.ts
  packages/shadcn-adapter/src/index.ts
  packages/shadcn-adapter/src/transform.ts
  packages/shadcn-adapter/tsconfig.json
  packages/transformers/package.json
  packages/transformers/src/index.ts
  packages/transformers/src/pipeline.ts
  packages/transformers/src/transforms/icons.ts
  packages/transformers/src/transforms/imports.ts
  packages/transformers/src/transforms/index.ts
  packages/transformers/src/types.ts
  packages/transformers/tsconfig.json
  pnpm-lock.yaml
  www/app/r/[...params]/route.ts
  www/lib/registry/index.ts
  www/package.json
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
