Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

chore: remove changesets
  .changeset/README.md
  .changeset/config.json
  .changeset/fair-vans-scream.md
  .github/changeset-version.js
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

refactor: consume tailwind plugins from npm
  .github/version-script-beta.js
  .github/version-script-next.js
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  package.json
  packages/tailwindcss-autocontrast/CHANGELOG.md
  packages/tailwindcss-autocontrast/README.md
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-autocontrast/src/index.d.ts
  packages/tailwindcss-autocontrast/src/index.js
  packages/tailwindcss-with/CHANGELOG.md
  packages/tailwindcss-with/README.md
  packages/tailwindcss-with/package.json
  packages/tailwindcss-with/src/index.d.ts
  packages/tailwindcss-with/src/index.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
  www/scripts/build-showcase-bundle.ts
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

refactor: consume tailwind plugins from npm (#228)
  .changeset/README.md
  .changeset/config.json
  .changeset/fair-vans-scream.md
  .github/changeset-version.js
  .github/version-script-beta.js
  .github/version-script-next.js
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  package.json
  packages/tailwindcss-autocontrast/CHANGELOG.md
  packages/tailwindcss-autocontrast/README.md
  packages/tailwindcss-autocontrast/package.json
  packages/tailwindcss-autocontrast/src/index.d.ts
  packages/tailwindcss-autocontrast/src/index.js
  packages/tailwindcss-with/CHANGELOG.md
  packages/tailwindcss-with/README.md
  packages/tailwindcss-with/package.json
  packages/tailwindcss-with/src/index.d.ts
  packages/tailwindcss-with/src/index.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
  www/scripts/build-showcase-bundle.ts
  www/src/registry/__generated__/showcase-bundle.ts
Due: prettier, eslint

chore: remove .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

chore: remove www/.claude launch config
  www/.claude/launch.json
Due: prettier

chore: remove www/.claude launch config (#231)
  www/.claude/launch.json
Due: prettier

chore: remove .git-blame-ignore-revs (#230)
  .git-blame-ignore-revs
Due: none

docs: add audit implementation plans under docs/plans
  CLAUDE.md
  docs/plans/001-publisher-evaluate-styles-fail-loud.md
  docs/plans/002-ci-build-and-registry-sweep.md
  docs/plans/003-builder-color-resolution-memoization.md
  docs/plans/004-registry-edge-hardening.md
  docs/plans/005-dependency-hygiene.md
  docs/plans/006-export-srgb-converters.md
  docs/plans/README.md
Due: prettier

docs: add colors kernel audit plans
  plans/001-recover-color-engine-spec.md
  plans/002-characterize-color-generation.md
  plans/003-open-algorithm-registry.md
  plans/004-validate-preserve-seed-at.md
  plans/005-kernel-owned-dark-mode.md
  plans/006-neutral-and-background-tint-knobs.md
  plans/007-custom-lightness-anchors-knob.md
  plans/008-per-palette-knob-overrides.md
  plans/009-on-color-policy-option.md
  plans/README.md
Due: prettier

docs: group audit plans per-audit and absorb colors-audit plans
  CLAUDE.md
  docs/plans/2026-06-11-colors-audit/001-recover-color-engine-spec.md
  docs/plans/2026-06-11-colors-audit/002-characterize-color-generation.md
  docs/plans/2026-06-11-colors-audit/003-open-algorithm-registry.md
  docs/plans/2026-06-11-colors-audit/004-validate-preserve-seed-at.md
  docs/plans/2026-06-11-colors-audit/005-kernel-owned-dark-mode.md
  docs/plans/2026-06-11-colors-audit/006-neutral-and-background-tint-knobs.md
  docs/plans/2026-06-11-colors-audit/007-custom-lightness-anchors-knob.md
  docs/plans/2026-06-11-colors-audit/008-per-palette-knob-overrides.md
  docs/plans/2026-06-11-colors-audit/009-on-color-policy-option.md
  docs/plans/2026-06-11-colors-audit/README.md
  docs/plans/2026-06-11-repo-audit/001-publisher-evaluate-styles-fail-loud.md
  docs/plans/2026-06-11-repo-audit/002-ci-build-and-registry-sweep.md
  docs/plans/2026-06-11-repo-audit/003-builder-color-resolution-memoization.md
  docs/plans/2026-06-11-repo-audit/004-registry-edge-hardening.md
  docs/plans/2026-06-11-repo-audit/005-dependency-hygiene.md
  docs/plans/2026-06-11-repo-audit/006-export-srgb-converters.md
  docs/plans/2026-06-11-repo-audit/README.md
  docs/plans/README.md
Due: prettier

docs: add audit implementation plans under docs/plans (#232)
  CLAUDE.md
  docs/plans/2026-06-11-colors-audit/001-recover-color-engine-spec.md
  docs/plans/2026-06-11-colors-audit/002-characterize-color-generation.md
  docs/plans/2026-06-11-colors-audit/003-open-algorithm-registry.md
  docs/plans/2026-06-11-colors-audit/004-validate-preserve-seed-at.md
  docs/plans/2026-06-11-colors-audit/005-kernel-owned-dark-mode.md
  docs/plans/2026-06-11-colors-audit/006-neutral-and-background-tint-knobs.md
  docs/plans/2026-06-11-colors-audit/007-custom-lightness-anchors-knob.md
  docs/plans/2026-06-11-colors-audit/008-per-palette-knob-overrides.md
  docs/plans/2026-06-11-colors-audit/009-on-color-policy-option.md
  docs/plans/2026-06-11-colors-audit/README.md
  docs/plans/2026-06-11-repo-audit/001-publisher-evaluate-styles-fail-loud.md
  docs/plans/2026-06-11-repo-audit/002-ci-build-and-registry-sweep.md
  docs/plans/2026-06-11-repo-audit/003-builder-color-resolution-memoization.md
  docs/plans/2026-06-11-repo-audit/004-registry-edge-hardening.md
  docs/plans/2026-06-11-repo-audit/005-dependency-hygiene.md
  docs/plans/2026-06-11-repo-audit/006-export-srgb-converters.md
  docs/plans/2026-06-11-repo-audit/README.md
  docs/plans/README.md
Due: prettier

refactor(www): swap static server fns for CDN cache headers
  docs/research/2026-06-11-static-server-functions.md
  pnpm-lock.yaml
  www/package.json
  www/src/lib/github.ts
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/route.tsx
Due: prettier, eslint

docs: append measured before/after to static server fns report
  docs/research/2026-06-11-static-server-functions.md
Due: prettier

fix: render well-known symbol members as [Symbol.x] in type links
  www/scripts/api-docs-builder/src/componentHandler.ts
  www/scripts/api-docs-builder/src/type-to-ast.ts
  www/src/modules/references/generated/accordion.json
  www/src/modules/references/generated/breadcrumbs.json
  www/src/modules/references/generated/button.json
  www/src/modules/references/generated/combobox.json
  www/src/modules/references/generated/command-content.json
  www/src/modules/references/generated/dialog-content.json
  www/src/modules/references/generated/disclosure-trigger.json
  www/src/modules/references/generated/list-box-section.json
  www/src/modules/references/generated/list-box.json
  www/src/modules/references/generated/menu-content.json
  www/src/modules/references/generated/menu-section.json
  www/src/modules/references/generated/select-content.json
  www/src/modules/references/generated/select.json
  www/src/modules/references/generated/tab-list.json
  www/src/modules/references/generated/table-body.json
  www/src/modules/references/generated/table-container.json
  www/src/modules/references/generated/table-footer.json
  www/src/modules/references/generated/table-header.json
  www/src/modules/references/generated/table-row.json
  www/src/modules/references/generated/table.json
  www/src/modules/references/generated/tabs.json
  www/src/modules/references/generated/tag-group.json
  www/src/modules/references/generated/tag-list.json
  www/src/modules/references/generated/toggle-button-group.json
Due: prettier, eslint

docs: add shadcn docs reference point to perf comparison
  docs/research/2026-06-11-static-server-functions.md
Due: prettier

fix: keep TS standard-library types out of typeLinks
  www/scripts/api-docs-builder/src/type-to-ast.ts
  www/src/modules/references/generated/accordion.json
  www/src/modules/references/generated/breadcrumbs.json
  www/src/modules/references/generated/button.json
  www/src/modules/references/generated/color-area.json
  www/src/modules/references/generated/color-field.json
  www/src/modules/references/generated/color-picker.json
  www/src/modules/references/generated/color-slider.json
  www/src/modules/references/generated/color-swatch-picker-item.json
  www/src/modules/references/generated/color-swatch-picker.json
  www/src/modules/references/generated/color-swatch.json
  www/src/modules/references/generated/combobox-value.json
  www/src/modules/references/generated/combobox.json
  www/src/modules/references/generated/command-content.json
  www/src/modules/references/generated/dialog-content.json
  www/src/modules/references/generated/disclosure-trigger.json
  www/src/modules/references/generated/field-error.json
  www/src/modules/references/generated/file-trigger.json
  www/src/modules/references/generated/list-box-section.json
  www/src/modules/references/generated/list-box.json
  www/src/modules/references/generated/menu-content.json
  www/src/modules/references/generated/menu-section.json
  www/src/modules/references/generated/select-content.json
  www/src/modules/references/generated/select-value.json
  www/src/modules/references/generated/select.json
  www/src/modules/references/generated/tab-list.json
  www/src/modules/references/generated/table-body.json
  www/src/modules/references/generated/table-container.json
  www/src/modules/references/generated/table-footer.json
  www/src/modules/references/generated/table-header.json
  www/src/modules/references/generated/table-row.json
  www/src/modules/references/generated/table.json
  www/src/modules/references/generated/tabs.json
  www/src/modules/references/generated/tag-group.json
  www/src/modules/references/generated/tag-list.json
  www/src/modules/references/generated/toggle-button-group.json
Due: prettier, eslint

docs: annotate cache header SSR reach and omitted stale-while-revalidate
  docs/research/2026-06-11-static-server-functions.md
  www/src/routes/_app/route.tsx
Due: prettier, eslint

refactor(www): swap static server fns for CDN cache headers (#235)
  docs/research/2026-06-11-static-server-functions.md
  pnpm-lock.yaml
  www/package.json
  www/src/lib/github.ts
  www/src/routes/_app/docs/$.tsx
  www/src/routes/_app/route.tsx
Due: prettier, eslint

docs: add docs build-memory research report
  docs/research/2026-06-11-docs-build-memory.md
Due: prettier

docs: add docs-module audit plans under docs/plans
  docs/plans/2026-06-12-docs-module-audit/001-references-generator-typelinks.md
  docs/plans/2026-06-12-docs-module-audit/002-docs-build-fail-loud.md
  docs/plans/2026-06-12-docs-module-audit/003-fumadocs-next-security-bump.md
  docs/plans/2026-06-12-docs-module-audit/004-docs-routes-links-hygiene.md
  docs/plans/2026-06-12-docs-module-audit/005-retire-legacy-codegen-engine.md
  docs/plans/2026-06-12-docs-module-audit/006-shiki-client-bundle-slimming.md
  docs/plans/2026-06-12-docs-module-audit/007-docs-content-corrections.md
  docs/plans/2026-06-12-docs-module-audit/README.md
  docs/plans/README.md
Due: prettier

docs: add docs-module audit plans + build-memory report (#236)
  docs/plans/2026-06-12-docs-module-audit/001-references-generator-typelinks.md
  docs/plans/2026-06-12-docs-module-audit/002-docs-build-fail-loud.md
  docs/plans/2026-06-12-docs-module-audit/003-fumadocs-next-security-bump.md
  docs/plans/2026-06-12-docs-module-audit/004-docs-routes-links-hygiene.md
  docs/plans/2026-06-12-docs-module-audit/005-retire-legacy-codegen-engine.md
  docs/plans/2026-06-12-docs-module-audit/006-shiki-client-bundle-slimming.md
  docs/plans/2026-06-12-docs-module-audit/007-docs-content-corrections.md
  docs/plans/2026-06-12-docs-module-audit/README.md
  docs/plans/README.md
  docs/research/2026-06-11-docs-build-memory.md
Due: prettier

refactor(www): decouple accordion from disclosure parts
  www/content/docs/components/accordion.mdx
  www/src/components/marketing/showcase/faq.tsx
  www/src/modules/docs/codegen/source-overlay.spec.ts
  www/src/modules/docs/components-list/demos/accordion.tsx
  www/src/modules/references/generated/accordion-item.json
  www/src/modules/references/generated/accordion-panel.json
  www/src/modules/references/generated/accordion-trigger.json
  www/src/modules/references/generated/accordion.json
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/ui/accordion/base.tsx
  www/src/registry/ui/accordion/demos/allows-multiple.tsx
  www/src/registry/ui/accordion/demos/basic.tsx
  www/src/registry/ui/accordion/demos/controlled.tsx
  www/src/registry/ui/accordion/demos/custom-trigger.tsx
  www/src/registry/ui/accordion/demos/default-expanded.tsx
  www/src/registry/ui/accordion/demos/disabled.tsx
  www/src/registry/ui/accordion/demos/playground.tsx
  www/src/registry/ui/accordion/styles.ts
  www/src/registry/ui/accordion/types.ts
Due: prettier, eslint

ci: match slashed base branches in PR triggers
  .github/workflows/ci.yml
  .github/workflows/pr-labeler.yml
Due: prettier

ci: match slashed base branches in PR triggers (#240)
  .github/workflows/ci.yml
  .github/workflows/pr-labeler.yml
Due: prettier

docs(www): make accordion custom-trigger demo real, surface examples
  www/content/docs/components/accordion.mdx
  www/src/registry/ui/accordion/demos/custom-trigger.tsx
Due: prettier, eslint

fix: ship progress-bar indeterminate animation, tidy file naming
  packages/colors/src/engine.test.ts
  packages/colors/src/index.ts
  packages/colors/src/producer.ts
  packages/colors/src/register-builtins.ts
  packages/colors/src/registry.test.ts
  packages/colors/src/theme.ts
  packages/ts-config/internal-package.json
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/styles.css
  www/src/registry/ui/disclosure/basic.css
  www/src/registry/ui/drawer/basic.css
  www/src/registry/ui/pagination/base.tsx
  www/src/registry/ui/progress-bar/styles.css
  www/src/registry/ui/progress-bar/styles.ts
  www/src/registry/ui/tree/base.tsx
Due: prettier, eslint

feat(colors): wide-gamut targetGamut + kernel hardening
  docs/plans/2026-06-11-colors-audit/README.md
  docs/research/2026-06-11-color-engine-spec.md
  docs/research/2026-06-13-colors-modernization.md
  packages/colors/src/__snapshots__/engine.test.ts.snap
  packages/colors/src/engine.test.ts
  packages/colors/src/index.ts
  packages/colors/src/producer.ts
  packages/colors/src/producers/contrast.ts
  packages/colors/src/producers/fixed.ts
  packages/colors/src/producers/material.ts
  packages/colors/src/producers/oklch.ts
  packages/colors/src/registry.test.ts
  packages/colors/src/schema.ts
  packages/colors/src/shared/color.ts
  packages/colors/src/shared/seed-anchor.ts
  packages/colors/src/shared/shared.test.ts
  packages/colors/src/theme.ts
  www/src/registry/theme/__snapshots__/primitives.spec.ts.snap
  www/src/registry/theme/primitives.spec.ts
Due: prettier, eslint

chore: clear oxlint warnings (non-null assertion, dynamic test title)
  www/scripts/build-showcase-bundle.ts
  www/src/modules/docs/codegen/playground-fidelity.spec.ts
Due: prettier, eslint

fix: clean Base UI component API references
  www/src/modules/references/generated/drawer-indent-background.json
  www/src/modules/references/generated/drawer-indent.json
  www/src/modules/references/generated/drawer-provider.json
  www/src/modules/references/generated/drawer-swipe-area.json
  www/src/modules/references/generated/drawer.json
  www/src/modules/references/generated/otp-field-separator.json
  www/src/modules/references/generated/otp-field.json
  www/src/modules/references/generated/toast.json
  www/src/registry/ui/drawer/types.ts
  www/src/registry/ui/otp-field/types.ts
  www/src/registry/ui/toast/types.ts
Due: prettier, eslint

docs: add website UI/UX review report
  docs/research/2026-06-13-website-uiux-review.md
Due: prettier

fix(www): site-chrome a11y, docs tables, and SEO fixes
  www/src/components/layout/header.tsx
  www/src/components/marketing/showcase/cards.tsx
  www/src/modules/create/open-in-v0.tsx
  www/src/modules/docs/docs-copy-page.tsx
  www/src/modules/docs/example.tsx
  www/src/modules/docs/mdx-components.tsx
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/routes/__root.tsx
  www/src/routes/_app/index.tsx
  www/src/routes/_app/route.tsx
  www/src/routes/sitemap[.]xml.tsx
Due: prettier, eslint

feat: add pagination component
  www/content/docs/components/pagination.mdx
  www/src/modules/create/__generated__/examples.tsx
  www/src/modules/docs/components-list/components-data.ts
  www/src/modules/references/generated/pagination-ellipsis.json
  www/src/modules/references/generated/pagination-item.json
  www/src/modules/references/generated/pagination-link.json
  www/src/modules/references/generated/pagination-list.json
  www/src/modules/references/generated/pagination-next.json
  www/src/modules/references/generated/pagination-previous.json
  www/src/modules/references/generated/pagination.json
  www/src/registry/__generated__/demos.tsx
  www/src/registry/__generated__/registry-items.ts
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/ui/pagination/base.tsx
  www/src/registry/ui/pagination/basic.tsx
  www/src/registry/ui/pagination/demos/compact.tsx
  www/src/registry/ui/pagination/demos/controlled.tsx
  www/src/registry/ui/pagination/demos/default.tsx
  www/src/registry/ui/pagination/demos/links.tsx
  www/src/registry/ui/pagination/demos/sizes.tsx
  www/src/registry/ui/pagination/examples.tsx
  www/src/registry/ui/pagination/index.tsx
  www/src/registry/ui/pagination/meta.ts
  www/src/registry/ui/pagination/styles.ts
  www/src/registry/ui/pagination/types.ts
Due: prettier, eslint

feat: ship context-menu and fix multi-file publishing
  www/content/docs/components/context-menu.mdx
  www/scripts/registry-build.ts
  www/src/publisher/build-time/build-publishables.ts
  www/src/publisher/publish.spec.ts
  www/src/publisher/publish.ts
  www/src/publisher/types.ts
  www/src/registry/__generated__/demos.tsx
  www/src/registry/__generated__/registry-items.ts
  www/src/registry/__generated__/showcase-bundle.ts
  www/src/registry/ui/context-menu/demos/basic.tsx
  www/src/registry/ui/context-menu/demos/controlled.tsx
  www/src/registry/ui/context-menu/demos/disabled.tsx
  www/src/registry/ui/context-menu/demos/nested.tsx
  www/src/registry/ui/context-menu/demos/with-icons.tsx
  www/src/registry/ui/context-menu/demos/with-submenu.tsx
  www/src/registry/ui/context-menu/examples.tsx
  www/src/registry/ui/context-menu/meta.ts
  www/src/routes/r/$name.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
