Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

fix(publisher): namespace registry deps, drop bundled init items, skip tv for no-styles components
  www/src/registry/publisher/build-time/build-publishables.ts
  www/src/registry/publisher/build-time/transform-base.ts
  www/src/registry/publisher/publish.spec.ts
  www/src/registry/publisher/publish.ts
  www/src/routes/r/{$name}[.]json.tsx
Due: prettier, eslint

add request-time publisher pipeline primitives
  www/src/modules/core/styles.tsx
  www/src/modules/create/components-config.tsx
  www/src/modules/create/preset/types.ts
  www/src/registry/publisher/flatten.ts
  www/src/registry/publisher/pipeline.spec.ts
  www/src/registry/publisher/resolve-classes.ts
  www/src/registry/publisher/serialize.ts
  www/src/registry/publisher/token-map.ts
  www/src/registry/types.ts
Due: prettier, eslint

feat(www): add design system presets exploration page
  www/src/config/site.tsx
  www/src/routeTree.gen.ts
  www/src/routes/_app/presets.tsx
Due: prettier, eslint

chore: fix CI — typecheck depends on build:registry, format publisher files
  www/package.json
  www/src/modules/create/install-command.tsx
  www/src/registry/__generated__/base-css.ts
  www/src/registry/publisher/build-time/build-publishables.ts
  www/src/registry/publisher/build-time/build.spec.ts
  www/src/registry/publisher/build-time/extract-config.ts
  www/src/registry/publisher/build-time/transform-base.ts
  www/src/registry/publisher/emit-theme.ts
  www/src/registry/publisher/flatten.ts
  www/src/registry/publisher/publish.spec.ts
  www/src/registry/publisher/publish.ts
  www/src/registry/publisher/resolve-classes.ts
Due: prettier, eslint

feat: add frosted backdrop on scroll
  www/src/components/layout/header.tsx
Due: prettier, eslint

fix(publisher): drop focus-styles from init item registryDependencies
  www/src/registry/publisher/emit-theme.ts
Due: prettier, eslint

fix(publisher): make install flow actually work end-to-end with shadcn 4.7
  www/src/modules/create/install-command.tsx
  www/src/registry/publisher/emit-theme.ts
  www/src/registry/publisher/publish.spec.ts
  www/src/registry/publisher/publish.ts
  www/src/routes/r/{$name}[.]json.tsx
Due: prettier, eslint

done
  www/src/modules/create/install-command.tsx
  www/src/registry/__generated__/base-css.ts
  www/src/registry/base/base.css
  www/src/registry/publisher/build-time/build-publishables.ts
  www/src/registry/publisher/build-time/css-to-registry-fields.spec.ts
  www/src/registry/publisher/build-time/css-to-registry-fields.ts
  www/src/registry/publisher/emit-theme.spec.ts
  www/src/registry/publisher/emit-theme.ts
  www/src/registry/publisher/publish.spec.ts
  www/src/registry/publisher/publish.ts
  www/src/registry/ui/skeleton/styles.css
  www/src/routeTree.gen.ts
  www/src/routes/r/$name.tsx
  www/src/routes/r/init.tsx
Due: prettier, eslint

feat: shadcn CLI registry publisher (#153)
  .gitignore
  www/package.json
  www/scripts/registry-build.ts
  www/src/modules/core/styles.tsx
  www/src/modules/create/components-config.tsx
  www/src/modules/create/customizer-panel.tsx
  www/src/modules/create/install-command.tsx
  www/src/modules/create/preset/types.ts
  www/src/registry/__generated__/base-css.ts
  www/src/registry/base/base.css
  www/src/registry/publisher/__fixtures__/alert-publishable.ts
  www/src/registry/publisher/__fixtures__/button-publishable.ts
  www/src/registry/publisher/build-time/build-publishables.ts
  www/src/registry/publisher/build-time/build.spec.ts
  www/src/registry/publisher/build-time/css-to-registry-fields.spec.ts
  www/src/registry/publisher/build-time/css-to-registry-fields.ts
  www/src/registry/publisher/build-time/extract-config.ts
  www/src/registry/publisher/build-time/transform-base.ts
  www/src/registry/publisher/emit-theme.spec.ts
  www/src/registry/publisher/emit-theme.ts
  www/src/registry/publisher/flatten.ts
  www/src/registry/publisher/publish.spec.ts
  www/src/registry/publisher/publish.ts
  www/src/registry/publisher/resolve-classes.ts
  www/src/registry/publisher/serialize.ts
  www/src/registry/publisher/token-map.ts
  www/src/registry/publisher/types.ts
  www/src/registry/types.ts
  www/src/registry/ui/skeleton/styles.css
  www/src/routeTree.gen.ts
  www/src/routes/r/$name.tsx
  www/src/routes/r/init.tsx
Due: prettier, eslint

chore: add agent skills
  .agents/skills/grill-me/SKILL.md
  .agents/skills/handoff/SKILL.md
  .agents/skills/improve-codebase-architecture/DEEPENING.md
  .agents/skills/improve-codebase-architecture/HTML-REPORT.md
  .agents/skills/improve-codebase-architecture/INTERFACE-DESIGN.md
  .agents/skills/improve-codebase-architecture/LANGUAGE.md
  .agents/skills/improve-codebase-architecture/SKILL.md
  .agents/skills/setup-matt-pocock-skills/SKILL.md
  .agents/skills/setup-matt-pocock-skills/domain.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-github.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-gitlab.md
  .agents/skills/setup-matt-pocock-skills/issue-tracker-local.md
  .agents/skills/setup-matt-pocock-skills/triage-labels.md
  .agents/skills/zoom-out/SKILL.md
  .claude/skills/grill-me
  .claude/skills/handoff
  .claude/skills/improve-codebase-architecture
  .claude/skills/setup-matt-pocock-skills
  .claude/skills/zoom-out
  skills-lock.json
Due: prettier

chore: setup agents docs
  AGENTS.md
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: prettier

Use published React Aria packages
  package.json
  pnpm-lock.yaml
  www/package.json
  www/vendor/react-aria-3.48.0.tgz
  www/vendor/react-aria-components-1.17.0.tgz
  www/vendor/react-stately-3.46.0.tgz
Due: prettier

chore(deps): replace vendored react-aria with official packages
  package.json
  patches/tailwindcss-react-aria-components@2.0.1.patch
  pnpm-lock.yaml
  www/package.json
  www/vendor/react-aria-3.48.0.tgz
  www/vendor/react-aria-components-1.17.0.tgz
  www/vendor/react-stately-3.46.0.tgz
Due: prettier

chore: remove obsolete plan.md (shadcn CLI registry plan, shipped)
  plan.md
Due: prettier

chore: remove unused no-scrollbar utility
  www/src/modules/docs/docs-sidebar.tsx
  www/src/registry/__generated__/base-css.ts
  www/src/registry/base/base.css
Due: prettier, eslint

docs: color system redesign plan (Phase 0+)
  docs/color-system-redesign.md
Due: prettier

feat(colors): configurable scale shape + ColorProducer registry
  packages/colors/src/contrast/schema.ts
  packages/colors/src/contrast/types.ts
  packages/colors/src/material/schema.ts
  packages/colors/src/producer.ts
  packages/colors/src/shared/types.ts
Due: prettier, eslint

feat(colors): OKLCH contrast-target solver + in-engine on-* foregrounds
  packages/colors/src/contrast/solver.ts
  packages/colors/src/shared/color.ts
  packages/colors/src/shared/on-color.ts
Due: prettier, eslint

feat(colors): wire contrast+fixed producers, on-* in Theme, drop Leonardo machinery
  packages/colors/src/__snapshots__/engine.test.ts.snap
  packages/colors/src/contrast/curve.ts
  packages/colors/src/contrast/defaults.ts
  packages/colors/src/contrast/generate.ts
  packages/colors/src/contrast/index.ts
  packages/colors/src/contrast/theme.ts
  packages/colors/src/contrast/utils.ts
  packages/colors/src/engine.test.ts
  packages/colors/src/producers.ts
  packages/colors/src/shared/types.ts
Due: prettier, eslint

fix(colors): address adversarial review — APCA path, configurable steps, gamut, guards
  packages/colors/src/__snapshots__/engine.test.ts.snap
  packages/colors/src/contrast/solver.ts
  packages/colors/src/contrast/theme.ts
  packages/colors/src/engine.test.ts
  packages/colors/src/producers.ts
Due: prettier, eslint

docs(colors): consolidate research thread into plan v2
  docs/color-system-redesign.md
Due: prettier

fix: switch logo and favicon between light and dark themes
  www/public/favicon.svg
  www/src/registry/base/base.css
Due: none

feat(www): center hero section on landing page
  www/src/routes/_app/index.tsx
Due: prettier, eslint

feat(colors): restructure to OKLCH-perceptual default + verify layer (Phase 0.5)
  packages/colors/package.json
  packages/colors/src/__snapshots__/engine.test.ts.snap
  packages/colors/src/contrast/index.ts
  packages/colors/src/contrast/schema.ts
  packages/colors/src/contrast/solver.ts
  packages/colors/src/contrast/theme.test.ts
  packages/colors/src/contrast/theme.ts
  packages/colors/src/contrast/types.ts
  packages/colors/src/engine.test.ts
  packages/colors/src/index.ts
  packages/colors/src/material/README.md
  packages/colors/src/material/constants.ts
  packages/colors/src/material/index.ts
  packages/colors/src/material/schema.ts
  packages/colors/src/material/types.ts
  packages/colors/src/producer.ts
  packages/colors/src/producers.ts
  packages/colors/src/producers/contrast.ts
  packages/colors/src/producers/fixed.ts
  packages/colors/src/producers/material.ts
  packages/colors/src/producers/oklch.ts
  packages/colors/src/producers/presets.ts
  packages/colors/src/schema.ts
  packages/colors/src/shared/color.ts
  packages/colors/src/shared/constants.ts
  packages/colors/src/shared/curve.ts
  packages/colors/src/shared/on-color.ts
  packages/colors/src/shared/seed-anchor.ts
  packages/colors/src/shared/shared.test.ts
  packages/colors/src/shared/types.ts
  packages/colors/src/test-utils.ts
  packages/colors/src/theme.test.ts
  packages/colors/src/theme.ts
  packages/colors/src/verify.test.ts
  packages/colors/src/verify/index.ts
  packages/colors/src/verify/thresholds.ts
  packages/colors/src/verify/types.ts
Due: prettier, eslint

fix: swap favicon via JS so it switches live with the theme
  www/public/favicon-dark.svg
  www/public/favicon.svg
  www/src/routes/__root.tsx
Due: prettier, eslint

feat(www): let hero title span one line and drop CTA height override
  www/src/routes/_app/index.tsx
Due: prettier, eslint

fix: tie favicon to system color scheme, not the in-app toggle
  www/src/routes/__root.tsx
Due: prettier, eslint

feat(www): show cards-only showcase in a masonry grid
  www/src/registry/blocks/showcase/cards/components/cards.tsx
  www/src/routes/_app/index.tsx
Due: prettier, eslint

fix(colors): address Phase 0.5 adversarial review (2 high, 13 total)
  packages/colors/src/engine.test.ts
  packages/colors/src/producer.ts
  packages/colors/src/producers.ts
  packages/colors/src/producers/contrast.ts
  packages/colors/src/producers/fixed.ts
  packages/colors/src/producers/oklch.ts
  packages/colors/src/registry.test.ts
  packages/colors/src/shared/on-color.ts
  packages/colors/src/shared/shared.test.ts
  packages/colors/src/test-utils.ts
  packages/colors/src/theme.ts
  packages/colors/src/verify.test.ts
  packages/colors/src/verify/index.ts
  packages/colors/src/verify/thresholds.ts
Due: prettier, eslint

fix: make favicon actually switch on system color-scheme change
  www/src/routes/__root.tsx
Due: prettier, eslint

chore: make oxfmt ignore vendored agent skills, format input styles
  .oxfmtrc.jsonc
  www/src/registry/ui/input/styles.ts
Due: prettier, eslint

chore: format docs/color-system-redesign.md with oxfmt
  docs/color-system-redesign.md
Due: prettier

chore: remove unused no-scrollbar utility + obsolete plan.md (#159)
  .oxfmtrc.jsonc
  docs/color-system-redesign.md
  plan.md
  www/src/modules/docs/docs-sidebar.tsx
  www/src/registry/__generated__/base-css.ts
  www/src/registry/base/base.css
  www/src/registry/ui/input/styles.ts
Due: prettier, eslint

chore: set up portless for named .localhost dev URLs
  .agents/skills/portless/SKILL.md
  .claude/skills/portless
  README.md
  turbo.json
  www/package.json
Due: prettier

chore: set up portless for named .localhost dev URLs (#162)
  .agents/skills/portless/SKILL.md
  .claude/skills/portless
  README.md
  turbo.json
  www/package.json
Due: prettier

docs(colors): record packaging/registry decisions + pre-Phase-1 sequencing (§13)
  docs/color-system-redesign.md
Due: prettier

chore(registry): regenerate base-css so @custom-variant dark reaches published CSS
  www/src/registry/__generated__/base-css.ts
Due: prettier, eslint

fix(favicon): swap href on a persistent <link> instead of replacing the element
  www/src/routes/__root.tsx
Due: prettier, eslint

docs(colors): record packaging/registry decisions + pre-Phase-1 sequencing (§13) (#163)
  docs/color-system-redesign.md
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
