Repository mehdibha/dotUI: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: npx prettier --write {staged_files}

eslint:
  run: npx eslint --fix {staged_files}

docs: remove stale internal planning docs
  docs/color-system-redesign.md
  docs/open-in/README.md
  docs/open-in/architecture.md
  docs/open-in/bolt-new.md
  docs/open-in/claude-code.md
  docs/open-in/codesandbox.md
  docs/open-in/cursor.md
  docs/open-in/figma.md
  docs/open-in/framer.md
  docs/open-in/lovable.md
  docs/open-in/paper.md
  docs/open-in/replit.md
  docs/open-in/shadcn-cli.md
  docs/open-in/stackblitz.md
  docs/open-in/v0.md
  docs/open-in/webflow.md
  docs/playground-rewrite-proposal.md
  docs/tanstack-docs-audit.md
Due: prettier

chore: finalize oxfmt config + unbrittle codegen/tests for the reformat
  .oxfmtrc.jsonc
  www/scripts/build-showcase-bundle.ts
  www/src/modules/core/styles.wrong-types.spec.ts
  www/src/publisher/build-time/build.spec.ts
Due: prettier, eslint

chore: empty changeset — reformat is style-only, no release needed
  .changeset/fair-vans-scream.md
Due: prettier

chore: add .git-blame-ignore-revs for the oxfmt reformat
  .git-blame-ignore-revs
Due: none

chore: add .git-blame-ignore-revs for the oxfmt reformat (#223)
  .git-blame-ignore-revs
Due: none

test: exclude .claude/worktrees from vitest sweep
  vitest.config.ts
Due: prettier, eslint

chore: rework oxfmt config and slim editor settings
  .oxfmtrc.jsonc
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier

chore: keep tanstack skills as plain files in .claude/skills
  .claude/skills/tanstack-devtools-app-setup/SKILL.md
  .claude/skills/tanstack-devtools-vite-plugin/SKILL.md
  .claude/skills/tanstack-react-start/SKILL.md
  .claude/skills/tanstack-router-core/SKILL.md
  .claude/skills/tanstack-router-data-loading/SKILL.md
  .claude/skills/tanstack-router-navigation/SKILL.md
  .claude/skills/tanstack-router-not-found-and-errors/SKILL.md
  .claude/skills/tanstack-router-path-params/SKILL.md
  .claude/skills/tanstack-router-plugin/SKILL.md
  .claude/skills/tanstack-router-search-params/SKILL.md
  .claude/skills/tanstack-router-ssr/SKILL.md
  .claude/skills/tanstack-router-type-safety/SKILL.md
  .claude/skills/tanstack-start-core/SKILL.md
  .claude/skills/tanstack-start-deployment/SKILL.md
  .claude/skills/tanstack-start-execution-model/SKILL.md
  .claude/skills/tanstack-start-middleware/SKILL.md
  .claude/skills/tanstack-start-server-functions/SKILL.md
  .claude/skills/tanstack-start-server-routes/SKILL.md
Due: prettier

chore: drop sherif/syncpack and simplify turbo config
  .github/workflows/ci.yml
  .syncpackrc.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier

docs: rewrite README and refresh CONTRIBUTING
  CONTRIBUTING.md
  README.md
Due: prettier

chore: drop portless and stale dev launchers
  .claude/launch.json
  www/package.json
Due: prettier

test: exclude .claude/worktrees from vitest sweep (#224)
  vitest.config.ts
Due: prettier, eslint

chore: move ts-config from config/ to packages/
  packages/ts-config/README.md
  packages/ts-config/base.json
  packages/ts-config/internal-package.json
  packages/ts-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: move ts-config from config/ to packages/ (#225)
  packages/ts-config/README.md
  packages/ts-config/base.json
  packages/ts-config/internal-package.json
  packages/ts-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

docs: rewrite CLAUDE.md with real project context
  CLAUDE.md
Due: prettier

refactor: consume starter-themes from npm
  CONTRIBUTING.md
  packages/starter-themes/package.json
  packages/starter-themes/src/index.tsx
  packages/starter-themes/tsconfig.json
  packages/starter-themes/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Due: prettier, eslint

docs: add docs/research reports folder with autocontrast assessment
  CLAUDE.md
  docs/research/2026-06-11-autocontrast-assessment.md
Due: prettier

refactor: consume starter-themes from npm (#227)
  CONTRIBUTING.md
  packages/starter-themes/package.json
  packages/starter-themes/src/index.tsx
  packages/starter-themes/tsconfig.json
  packages/starter-themes/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Due: prettier, eslint

docs: restore open-in research docs under docs/research/
  CLAUDE.md
  docs/research/open-in/README.md
  docs/research/open-in/architecture.md
  docs/research/open-in/bolt-new.md
  docs/research/open-in/claude-code.md
  docs/research/open-in/codesandbox.md
  docs/research/open-in/cursor.md
  docs/research/open-in/figma.md
  docs/research/open-in/framer.md
  docs/research/open-in/lovable.md
  docs/research/open-in/paper.md
  docs/research/open-in/replit.md
  docs/research/open-in/shadcn-cli.md
  docs/research/open-in/stackblitz.md
  docs/research/open-in/v0.md
  docs/research/open-in/webflow.md
Due: prettier

docs: add PR-title rule to CLAUDE.md
  CLAUDE.md
Due: prettier

docs: refine PR-title rule
  CLAUDE.md
Due: prettier

docs: restructure CLAUDE.md sections
  CLAUDE.md
Due: prettier

docs: sharpen product direction in CLAUDE.md
  CLAUDE.md
Due: prettier

docs: add Registry and Publisher sections
  CLAUDE.md
Due: prettier

docs: scope the hardcoded-values rule
  CLAUDE.md
Due: prettier

docs: add boundary rules and shadcn style reference
  CLAUDE.md
Due: prettier

docs: add codeOptions layer to product direction
  CLAUDE.md
Due: prettier

docs: drop hard line wraps in CLAUDE.md
  CLAUDE.md
Due: prettier

fix: correct case in breadcrumbs demo reference
  www/content/docs/components/breadcrumbs.mdx
Due: prettier

docs: mark extracted packages as standalone
  CLAUDE.md
Due: prettier

docs: set up agent context (CLAUDE.md + docs/research) (#226)
  CLAUDE.md
  docs/research/2026-06-11-autocontrast-assessment.md
  docs/research/open-in/README.md
  docs/research/open-in/architecture.md
  docs/research/open-in/bolt-new.md
  docs/research/open-in/claude-code.md
  docs/research/open-in/codesandbox.md
  docs/research/open-in/cursor.md
  docs/research/open-in/figma.md
  docs/research/open-in/framer.md
  docs/research/open-in/lovable.md
  docs/research/open-in/paper.md
  docs/research/open-in/replit.md
  docs/research/open-in/shadcn-cli.md
  docs/research/open-in/stackblitz.md
  docs/research/open-in/v0.md
  docs/research/open-in/webflow.md
Due: prettier

fix: correct case in breadcrumbs demo reference (#229)
  www/content/docs/components/breadcrumbs.mdx
Due: prettier

Path conditions:
  prettier: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
